<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="24px">
  <mat-card appearance="outlined" fxFlex="800px" fxFlex.lt-md="100%">
    <form
      [formGroup]="printForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <mat-card-title fxFlex="grow"
        >{{ this.printForm.get('id').value !== null ? 'Edit' : 'Add' }} 3D
        Print</mat-card-title
      >
      <div fxFlex="grow">
        <input
          #imgFileInput
          style="display: none"
          type="file"
          accept="image/*"
          multiple
          class="custom-file-input form-control"
          id="files"
          (change)="detectFiles($event)"
        />
        <input
          #cameraInput
          style="display: none"
          type="file"
          accept="image/*"
          capture="environment"
          (change)="detectFiles($event)"
        />
        <div
          class="image-drop-zone"
          [class.drag-over]="isDragOver"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onFileDrop($event)"
        >
          @if (isDragOver) {
            <div class="drop-overlay">
              <mat-icon>cloud_upload</mat-icon>
              <span>Drop images here</span>
            </div>
          }
          @if (images.length < 1) {
            @if (isCordova) {
              <button
                type="button"
                mat-stroked-button
                (click)="cameraInput.click()"
              >
                Upload Picture
              </button>
            } @else {
              <button
                type="button"
                mat-stroked-button
                (click)="imgFileInput.click()"
              >
                Upload Picture
              </button>
            }
          }
          <app-image-carousel
            [imageCount]="cachedImagesForStrip.length"
            [selectedIndex]="selectedImageIndex"
            (indexChange)="onCarouselIndexChange($event)"
          >
            @if (selectedImage && selectedImage.value) {
              <div fxFlex class="card-img-top main-image">
                <app-print-image
                  fxFlex
                  [printId]="printForm.get('id').value"
                  [imageId]="selectedImage.value.id"
                  [imageData]="selectedImage.value.url"
                  [showDeleteOnHover]="false"
                  (imageDataChange)="selectedImage.value.url = $event"
                ></app-print-image>
              </div>
            }
          </app-image-carousel>
        </div>
        <app-image-thumbnail-strip
          [images]="cachedImagesForStrip"
          [selectedId]="selectedImage?.value?.id"
          [selectedUrl]="selectedImage?.value?.url"
          [editable]="true"
          [maxImages]="maxImages()"
          (imageSelected)="onThumbnailSelected($event)"
          (imageDeleted)="onImageDeleted($event)"
          (defaultChanged)="onDefaultChanged($event)"
          (imagesReordered)="onImagesReordered($event)"
          (addClicked)="imgFileInput.click()"
        />
      </div>
      <mat-card-content
        fxFlex="grow"
        fxFlexFill
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
      >
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label> Title</mat-label>
          <input
            id="edit-print-title"
            matInput
            type="text"
            formControlName="title"
            required
            maxlength="100"
          />
          @if (printForm.controls['title'].hasError('required')) {
            <mat-error> A Title is <strong>required</strong> </mat-error>
          }
          @if (printForm.controls['title'].hasError('maxlength')) {
            <mat-error>
              Title is {{ printForm.controls['title'].value.length }} characters
              long, but has a max length of 100
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label> Printer</mat-label>
          <mat-select
            formControlName="printerId"
            required
            id="edit-print-printer"
          >
            @for (printer of printers; track printer) {
              <mat-option [value]="printer.id">{{
                getPrinterLabel(printer)
              }}</mat-option>
            }
          </mat-select>
          @if (printForm.controls['printerId'].hasError('required')) {
            <mat-error> A Printer is <strong>required</strong> </mat-error>
          }
        </mat-form-field>
        <app-project-selector
          fxFlex="grow"
          fxFlexFill
          [initialProjectId]="printDetail?.projectId ?? null"
          [initialProjectName]="printDetail?.projectName ?? null"
          (projectSelected)="onProjectSelected($event)"
        />
        <div fxFlex="grow" fxFlexFill>
          <div
            class="input-row desktop-margin-offset"
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayout.lt-md="column"
          >
            <mat-form-field fxFlex="60" fxFlex.lt-md="100">
              <mat-label>Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="startDatePicker"
                placeholder="Start Date"
                formControlName="startDate"
                aria-label="The date that the print was started."
              />
              @if (printForm.controls['startDate'].hasError('required')) {
                <mat-error>
                  A Start Date is <strong>required</strong>
                </mat-error>
              }
              <mat-datepicker-toggle
                matSuffix
                [for]="startDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="40" fxFlex.lt-md="100">
              <mat-label>Start Time</mat-label>
              <input
                matInput
                type="time"
                step="1"
                placeholder="Start Time"
                formControlName="startTime"
                aria-label="The time that the print was started."
              />
            </mat-form-field>
          </div>
          <button
            fxFlex
            style="margin-top: 0px; height: 56px"
            mat-stroked-button
            type="button"
            (click)="setStartDateToNow()"
            aria-label="Set the start date and time to now."
          >
            Now
          </button>
        </div>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label> Thing URL</mat-label>
          <input
            id="edit-print-url"
            matInput
            type="url"
            formControlName="url"
            maxlength="1000"
          />
        </mat-form-field>
        <div
          style="margin: 10 0 10"
          fxFlex="grow"
          fxFlexFill
          fxLayout.lt-md="column"
          fxLayout="row"
        >
          <mat-form-field
            style="margin: 0px 5px 0px 0px"
            fxFlex="30%"
            fxFlex.lt-md="100%"
          >
            <mat-label> Estimated Print Time</mat-label>
            <input
              id="edit-print-estimated-print-time"
              matInput
              type="text"
              placeholder="Ex: 6h 31m 15s  or  2 hours 10 min"
              formControlName="estimatedPrintTimeInSeconds"
              (change)="getEstimatedCompletedDate()"
            />
          </mat-form-field>
          <div style="margin: 0" fxFlex="70%" fxFlex.lt-md="100%">
            <div fxLayout="row" fxLayoutGap="5px" fxLayout.lt-md="column">
              <mat-form-field fxFlex="40" fxFlex.lt-md="100">
                <mat-label>Est. Completion Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="estimatedDatePicker"
                  placeholder="Estimated Completion Date"
                  [ngModel]="getEstimatedCompletedDateOnly()"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="true"
                  aria-label="The estimated date of completion."
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="estimatedDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #estimatedDatePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="40" fxFlex.lt-md="100">
                <mat-label>Est. Completion Time</mat-label>
                <input
                  matInput
                  type="time"
                  step="1"
                  placeholder="Estimated Completion Time"
                  [ngModel]="getEstimatedCompletedTimeOnly()"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="true"
                  aria-label="The estimated time of completion."
                />
              </mat-form-field>
              <!-- Empty space to align with the "Now" button in the actual completion section -->
              <div fxFlex="20" fxFlex.lt-md="100"></div>
            </div>
          </div>
        </div>
        <!-- Actual -->
        <div
          style="margin: 10 0 10"
          fxFlex="grow"
          fxFlexFill
          fxLayout.lt-md="column"
          fxLayout="row"
        >
          <mat-form-field
            style="margin: 0px 5px 0px 0px"
            fxFlex="30%"
            fxFlex.lt-md="100%"
          >
            <mat-label> Actual Print Time</mat-label>
            <input
              id="edit-print-actual-print-time"
              matInput
              type="text"
              formControlName="printTimeInSeconds"
              placeholder="Ex: 6h 31m 15s  or  2 hours 10 min"
              (change)="getActualCompletedDate()"
            />
          </mat-form-field>
          <div fxFlex="70%" fxFlex.lt-md="100%">
            <div fxLayout="row" fxLayoutGap="5px" fxLayout.lt-md="column">
              <mat-form-field fxFlex="40" fxFlex.lt-md="100">
                <mat-label>Completion Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="actualDatePicker"
                  placeholder="Completion Date"
                  [ngModel]="getActualCompletedDateOnly()"
                  (ngModelChange)="updateActualCompletedDateOnly($event)"
                  [ngModelOptions]="{ standalone: true }"
                  aria-label="The date of completion."
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="actualDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #actualDatePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="40" fxFlex.lt-md="100">
                <mat-label>Completion Time</mat-label>
                <input
                  matInput
                  type="time"
                  step="1"
                  placeholder="Completion Time"
                  [ngModel]="getActualCompletedTimeOnly()"
                  (ngModelChange)="updateActualCompletedTimeOnly($event)"
                  [ngModelOptions]="{ standalone: true }"
                  aria-label="The time of completion."
                />
              </mat-form-field>
              <button
                fxFlex="20"
                fxFlex.lt-md="100"
                style="margin-top: 10px; height: 56px"
                mat-stroked-button
                type="button"
                (click)="setActualCompletedDateToNow()"
                aria-label="Set the Completed Date to now."
              >
                Now
              </button>
            </div>
          </div>
        </div>
        @if (getElectricityPreview(); as preview) {
          @if (preview.valid) {
            <div fxFlex="grow" fxFlexFill style="font-size: 0.9em; color: #666; margin-bottom: 4px">
              Electricity cost: {{ (isEstimatedElectricityPreview() ? '~' : '') + preview.formattedCost }}
            </div>
          } @else if ($any(preview).message) {
            <div fxFlex="grow" fxFlexFill style="font-size: 0.9em; color: #888; margin-bottom: 4px">
              <mat-icon
                inline
                style="
                  font-size: 14px;
                  width: 14px;
                  height: 14px;
                  vertical-align: text-bottom;
                "
                >warning</mat-icon
              >
              {{ $any(preview).message }} —
              <a routerLink="/settings">configure in Settings</a>
            </div>
          }
        }
        <!-- Material Usage -->
        <div fxFlex="grow" fxFlexFill>
          <h2>
            {{ materialCategoryNameForSelectedPrinter | titlecase }} Usage:
          </h2>
          <button
            type="button"
            mat-raised-button
            (click)="addNewFilamentUsage()"
            color="primary"
            style="margin-bottom: 5px"
          >
            Add New
            {{ materialCategoryNameForSelectedPrinter | titlecase }} Record
          </button>
        </div>
        <div
          formArrayName="filamentUsage"
          cdkDropList
          (cdkDropListDropped)="dropFilament($event)"
        >
          @for (
            printFilament of filamentUsage.controls;
            track printFilament;
            let printFilamentIndex = $index
          ) {
            <div style="margin-bottom: 10px" cdkDrag>
              <div [formGroupName]="printFilamentIndex">
                <mat-card class="mat-elevation-z4 filament-entry-card">
                  <mat-card-content>
                    <div class="filament-drag-handle" cdkDragHandle>
                      <mat-icon>drag_indicator</mat-icon>
                    </div>
                    <div class="filament-info-column">
                      <div fxFlex>
                        <div
                          class="filament-color-cell"
                          [style.background-color]="
                            printFilament.get('filament').value?.colorHex
                              ? '#' +
                                printFilament.get('filament').value?.colorHex
                              : null
                          "
                        ></div>
                      </div>
                      <div fxFlex class="filament-section filament-name">
                        @if (printFilament.get('filament').value !== null) {
                          <a
                            [href]="
                              '/materials/' +
                              printFilament.get('filament').value?.id
                            "
                            target="_blank"
                            rel="noopener noreferrer"
                            class="filament-link"
                          >
                            {{
                              printFilament.get('filament').value?.displayName
                            }}
                          </a>
                        }
                        @if (printFilament.get('filament').value === null) {
                          <span>Other</span>
                        }
                      </div>
                      @if (
                        printFilament.get('filament').value?.colorName !== ''
                      ) {
                        <div fxFlex class="filament-section">
                          {{ printFilament.get('filament').value?.colorName }}
                        </div>
                      }
                      <div fxFlex class="filament-section">
                        {{ printFilament.get('filament').value?.materialType }}
                      </div>
                      @if (printFilament.get('filament').value !== null) {
                        <div fxFlex class="filament-section">
                          {{
                            printFilament.get('filament').value
                              ?.filamentRemaining / 1000 | number
                          }}
                          (g) remaining
                        </div>
                      }
                      @if (printFilament.get('filament').value !== null) {
                        <div fxFlex class="filament-section">
                          {{
                            printFilament.get('filament').value
                              ?.filamentLengthRemainingInM | number
                          }}
                          (m) remaining
                        </div>
                      }
                      @if (printFilament.get('filament').value !== null) {
                        <div fxFlex class="filament-section">
                          {{
                            printFilament.get('filament').value
                              ?.filamentVolumeRemainingInMl | number
                          }}
                          (ml) remaining
                        </div>
                      }
                      @if (
                        printFilament.get('filament').value !== null &&
                        printFilament.get('filament').value
                          ?.purchasePriceValue !== null &&
                        printFilament.get('filament').value
                          ?.purchasePriceValue !== ''
                      ) {
                        <div fxFlex class="filament-section">
                          Price: {{ preferredCurrency?.symbol
                          }}{{
                            printFilament.get('filament').value
                              ?.purchasePriceValue
                          }}
                        </div>
                      }
                      @if (
                        printFilament.get('filament').value !== null &&
                        printFilament.get('filament').value
                          ?.purchasePriceValue === null &&
                        defaultFilamentPriceSetting?.value !== null
                      ) {
                        <div
                          fxFlex
                          class="filament-section"
                          matTooltip="* using default filament price of {{
                            preferredCurrency?.symbol
                          }}{{ defaultFilamentPriceSetting?.value }}"
                        >
                          Price: {{ preferredCurrency?.symbol
                          }}{{ defaultFilamentPriceSetting?.value }}*
                        </div>
                      }
                    </div>
                    <div class="filament-actions-column">
                      <div class="button-row">
                        <button
                          mat-stroked-button
                          (click)="
                            searchFilament(printFilament.get('filament'))
                          "
                          type="button"
                        >
                          <mat-icon>swap_horiz</mat-icon>
                          {{
                            printFilament.get('filament')?.value !== null
                              ? 'Change'
                              : 'Select'
                          }}
                          {{
                            materialCategoryNameForSelectedPrinter | titlecase
                          }}
                        </button>
                        @if (filamentUsage.length > 1) {
                          <button
                            type="button"
                            mat-stroked-button
                            [matMenuTriggerFor]="swapMenu"
                            aria-label="Swap Data with Another Filament"
                          >
                            <mat-icon>swap_vert</mat-icon>Swap Data
                          </button>
                          <mat-menu #swapMenu="matMenu">
                            @for (
                              otherFilament of filamentUsage.controls;
                              track otherFilament;
                              let otherIndex = $index
                            ) {
                              @if (otherIndex !== printFilamentIndex) {
                                <button
                                  mat-menu-item
                                  (click)="
                                    swapFilamentData(
                                      printFilamentIndex,
                                      otherIndex
                                    )
                                  "
                                >
                                  <span class="swap-menu-item">
                                    <mat-icon>swap_vert</mat-icon>
                                    <div
                                      class="swap-color-indicator"
                                      [style.background-color]="
                                        otherFilament.get('filament').value
                                          ?.colorHex
                                          ? '#' +
                                            otherFilament.get('filament').value
                                              ?.colorHex
                                          : '#ccc'
                                      "
                                    ></div>
                                    <span>
                                      Swap with #{{ otherIndex + 1 }}:
                                      {{
                                        otherFilament.get('filament')?.value
                                          ?.displayName || 'Other'
                                      }}
                                    </span>
                                  </span>
                                </button>
                              }
                            }
                          </mat-menu>
                        }
                        <button
                          type="button"
                          mat-stroked-button
                          (click)="removeFilament(printFilamentIndex)"
                          aria-label="Delete Filament"
                        >
                          <mat-icon>delete</mat-icon>Delete
                        </button>
                      </div>
                      <div class="input-row">
                        @if (
                          printFilament.get('estimatedSource').value ===
                          printFilamentSourceMeasurementTypes.Weight
                        ) {
                          <mat-form-field>
                            <mat-label>
                              Estimated
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (g)</mat-label
                            >
                            <input
                              id="edit-print-estimated-filement-used-gram-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              pattern="^\d*(\.\d{0,3})?$"
                              formControlName="estimatedAmountG"
                            />
                            @if (
                              printFilament
                                .get('estimatedAmountG')
                                .hasError('min')
                            ) {
                              <mat-error>
                                Estimated
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                            @if (
                              printFilament
                                .get('estimatedAmountG')
                                .hasError('pattern')
                            ) {
                              <mat-error>
                                Numbers (up to 3-decimal places) only.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        @if (
                          printFilament.get('estimatedSource').value ===
                          printFilamentSourceMeasurementTypes.Length
                        ) {
                          <mat-form-field fxFlex="grow">
                            <mat-label>
                              Estimated
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (m)</mat-label
                            >
                            <input
                              id="edit-print-estimated-filement-used-meter-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              formControlName="estimatedLengthInM"
                            />
                            @if (
                              printFilament
                                .get('estimatedLengthInM')
                                .hasError('min')
                            ) {
                              <mat-error>
                                Estimated
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        @if (
                          printFilament.get('estimatedSource').value ===
                          printFilamentSourceMeasurementTypes.Volume
                        ) {
                          <mat-form-field>
                            <mat-label>
                              Estimated
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (ml)</mat-label
                            >
                            <input
                              id="edit-print-estimated-filement-used-ml-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              formControlName="estimatedVolumeMl"
                            />
                            @if (
                              printFilament
                                .get('estimatedVolumeMl')
                                .hasError('min')
                            ) {
                              <mat-error>
                                Estimated
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        <mat-form-field style="flex: 0 0 120px">
                          <mat-label>Measure</mat-label>
                          <mat-select
                            formControlName="estimatedSource"
                            (selectionChange)="
                              HandleFilamentMeasureTypeChange($event.value)
                            "
                          >
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Weight
                              "
                            >
                              Weight
                            </mat-option>
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Length
                              "
                            >
                              Length
                            </mat-option>
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Volume
                              "
                            >
                              Volume
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="input-row">
                        @if (
                          printFilament.get('source').value ===
                          printFilamentSourceMeasurementTypes.Weight
                        ) {
                          <mat-form-field>
                            <mat-label>
                              Actual
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (g)</mat-label
                            >
                            <input
                              id="edit-print-actual-filament-used-gram-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              pattern="^\d*(\.\d{0,3})?$"
                              formControlName="amountG"
                            />
                            @if (printFilament.get('amountG').hasError('min')) {
                              <mat-error>
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                            @if (
                              printFilament.get('amountG').hasError('pattern')
                            ) {
                              <mat-error>
                                Numbers (up to 3-decimal places) only.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        @if (
                          printFilament.get('source').value ===
                          printFilamentSourceMeasurementTypes.Length
                        ) {
                          <mat-form-field fxFlex="grow">
                            <mat-label>
                              Actual
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (m)</mat-label
                            >
                            <input
                              id="edit-print-actual-filament-used-meter-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              formControlName="lengthInM"
                            />
                            @if (
                              printFilament.get('lengthInM').hasError('min')
                            ) {
                              <mat-error>
                                Actual
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        @if (
                          printFilament.get('source').value ===
                          printFilamentSourceMeasurementTypes.Volume
                        ) {
                          <mat-form-field>
                            <mat-label>
                              Actual
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (ml)</mat-label
                            >
                            <input
                              id="edit-print-actual-filament-used-ml-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              formControlName="volumeMl"
                            />
                            @if (
                              printFilament.get('volumeMl').hasError('min')
                            ) {
                              <mat-error>
                                Actual
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        <mat-form-field style="flex: 0 0 120px">
                          <mat-label>Measure</mat-label>
                          <mat-select formControlName="source">
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Weight
                              "
                            >
                              Weight
                            </mat-option>
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Length
                              "
                            >
                              Length
                            </mat-option>
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Volume
                              "
                            >
                              Volume
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <mat-form-field>
                        <mat-label>
                          {{
                            printFilament.get('filament').value === null
                              ? 'Filament Type'
                              : 'Filament Notes'
                          }}</mat-label
                        >
                        <input
                          id="edit-print-filament-notes-{{
                            printFilamentIndex
                          }}"
                          matInput
                          type="text"
                          maxlength="1000"
                          formControlName="notes"
                        />
                      </mat-form-field>
                      @if (printFilament.get('filament').value !== null) {
                        <div
                          gdColumns="max-content auto"
                          gdRows="2"
                          gdGap="10px"
                          style="padding-inline: 10px; padding-bottom: 5px"
                        >
                          <div gdColumn="1" gdRow="1">Estimated Cost:</div>
                          <div
                            gdColumn="2"
                            gdRow="1"
                            matTooltip="* using default filament price of {{
                              defaultFilamentPriceSetting?.value
                            }}"
                            [matTooltipDisabled]="
                              printFilament.get('filament').value
                                ?.purchasePriceValue !== null
                            "
                            [class.price-error]="
                              getEstimatedPrice($any(printFilament)).includes(
                                '('
                              )
                            "
                          >
                            @if (
                              getEstimatedPrice($any(printFilament)).includes(
                                '('
                              )
                            ) {
                              <mat-icon
                                inline
                                style="
                                  font-size: 16px;
                                  width: 16px;
                                  height: 16px;
                                  vertical-align: text-bottom;
                                "
                                >warning</mat-icon
                              >
                            }
                            {{ getEstimatedPrice($any(printFilament)) }}
                          </div>
                          @if (
                            printFilament.get('amountG').value !== 0 ||
                            printFilament.get('lengthInM').value !== 0
                          ) {
                            <div gdColumn="1" gdRow="2">Actual Cost:</div>
                          }
                          @if (
                            printFilament.get('amountG').value !== 0 ||
                            printFilament.get('lengthInM').value !== 0
                          ) {
                            <div
                              gdColumn="2"
                              gdRow="2"
                              matTooltip="* using default filament price of {{
                                preferredCurrency?.symbol
                              }}{{ defaultFilamentPriceSetting?.value }}"
                              [matTooltipDisabled]="
                                printFilament.get('filament').value
                                  ?.purchasePriceValue !== null
                              "
                              [class.price-error]="
                                getActualPrice($any(printFilament)).includes(
                                  '('
                                )
                              "
                            >
                              @if (
                                getActualPrice($any(printFilament)).includes(
                                  '('
                                )
                              ) {
                                <mat-icon
                                  inline
                                  style="
                                    font-size: 16px;
                                    width: 16px;
                                    height: 16px;
                                    vertical-align: text-bottom;
                                  "
                                  >warning</mat-icon
                                >
                              }
                              {{ getActualPrice($any(printFilament)) }}
                            </div>
                          }
                        </div>
                      }
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          }
        </div>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label> Notes</mat-label>
          <textarea
            id="edit-print-notes"
            matInput
            type="text"
            formControlName="notes"
            maxlength="50000"
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="15"
          ></textarea>
          @if (50000 - printForm.get('notes').value.length < 1000) {
            <mat-hint align="end">
              {{ 50000 - printForm.get('notes').value.length }} characters
              remaining.</mat-hint
            >
          }
        </mat-form-field>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label> File Name</mat-label>
          <input
            id="edit-print-file-name"
            matInput
            type="text"
            formControlName="fileName"
            maxlength="1000"
          />
        </mat-form-field>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label> Status</mat-label>
          <mat-select formControlName="status" id="edit-print-status">
            <mat-option [value]="printStatusTypes.Pending">Pending</mat-option>
            <mat-option [value]="printStatusTypes.Printing"
              >Printing</mat-option
            >
            <mat-option [value]="printStatusTypes.Success">Success</mat-option>
            <mat-option [value]="printStatusTypes.PartialSuccess"
              >Partial Success</mat-option
            >
            <mat-option [value]="printStatusTypes.Cancelled"
              >Cancelled</mat-option
            >
            <mat-option [value]="printStatusTypes.Failed">Failed</mat-option>
          </mat-select>
        </mat-form-field>
        <div style="margin: 10 0 10" fxFlex="grow" fxFlexFill>
          <mat-form-field style="margin: 0" fxFlex>
            <mat-label> Sharing To:</mat-label>
            <mat-select
              formControlName="viewStatus"
              id="edit-print-view-status"
            >
              <mat-option [value]="printViewStatusTypes.Public"
                >Public (anyone can view)</mat-option
              >
              <mat-option [value]="printViewStatusTypes.Unlisted"
                >Unlisted (anyone with link can view)</mat-option
              >
              <mat-option [value]="printViewStatusTypes.Private"
                >Private (only you can view)</mat-option
              >
            </mat-select>
          </mat-form-field>
          @if (
            this.printForm &&
            this.printForm.get('viewStatus').dirty &&
            (this.defaultPrintViewStatusSetting === null ||
              this.printForm.get('viewStatus').value.toString() !==
                this.defaultPrintViewStatusSetting.value.toString())
          ) {
            <button
              fxFlex
              style="margin-left: 10px; height: 72%"
              mat-stroked-button
              type="button"
              (click)="
                this.changeDefaultViewStatus(
                  this.printForm.get('viewStatus').value
                )
              "
            >
              Save as Default View Status
            </button>
          }
        </div>
        <mat-checkbox
          fxFlex="grow"
          fxFlexFill
          formControlName="allowComments"
          id="edit-allow-comments"
          >Allow Comments</mat-checkbox
        >
        <!-- File Attachments Section -->
        @if (printForm.get('id')?.value) {
          <app-file-attachment-section
            [printId]="printForm.get('id')?.value"
            [editable]="true"
            [isOwner]="true"
            [allowFileDownloads]="
              printForm.get('allowFileDownloads')?.value ?? false
            "
            (allowFileDownloadsChange)="
              printForm.get('allowFileDownloads')?.setValue($event);
              printForm.get('allowFileDownloads')?.markAsDirty()
            "
          ></app-file-attachment-section>
        } @else {
          <p style="opacity: 0.5; font-size: 13px; margin-top: 8px">
            <mat-icon style="font-size: 16px; vertical-align: middle"
              >attach_file</mat-icon
            >
            Save the print first to attach files.
          </p>
        }
      </mat-card-content>
      <mat-card-actions
        class="sticky-actions"
        fxLayout
        fxLayoutAlign="space-between center"
        fxLayoutGap="15px"
      >
        @if (printForm.get('id').value) {
          <div fxFlex="grow" fxFlexFill>
            <button
              id="edit-print-copy-btn"
              mat-stroked-button
              [disabled]="printForm.dirty || saving"
              type="button"
              title="{{
                printForm.dirty || saving
                  ? 'Save changes before copying'
                  : 'Copy to a new print'
              }}"
              [routerLink]="['../..', 'copy', printForm.get('id').value]"
            >
              Copy
            </button>
          </div>
        }
        <div
          fxFlex="grow"
          fxFlexFill
          [fxFlexOffset]="printForm.get('id').value ? '80px' : ''"
        >
          <button
            id="edit-print-submit-btn"
            fxFlex
            mat-raised-button
            type="submit"
            [disabled]="saving"
            color="primary"
            [class.spinner]="saving"
          >
            Submit
          </button>
        </div>
        <div fxFlex="grow" fxFlexFill>
          <button
            id="edit-print-cancel-btn"
            fxFlex
            mat-raised-button
            type="button"
            (click)="handleClose()"
            color="warn"
          >
            {{ printForm.dirty ? 'Cancel' : 'Close' }}
          </button>
        </div>
      </mat-card-actions>
    </form>
    <app-ad></app-ad>
  </mat-card>
  <div fxHide fxShow.gt-md fxFlex="300px" class="ad-sidebar">
    <app-sidebar-ad></app-sidebar-ad>
  </div>
</div>
