<div class="flex justify-center content-stretch items-stretch flex-row">
  <mat-card appearance="outlined" fxFlex="800px" class="xs:basis-full">
    <form
      [formGroup]="printForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
      class="flex justify-start content-center items-center flex-col gap-2.5"
    >
      <mat-card-title class="basis-full"
        >{{ this.printForm.get('id').value !== null ? 'Edit' : 'Add' }} 3D
        Print</mat-card-title
      >
      <div class="basis-full">
        <input
          #imgFileInput
          style="display: none"
          type="file"
          accept="image/*"
          class="custom-file-input form-control"
          id="files"
          (change)="detectFiles($event)"
        />
        @if (images.length < 1) {
          <button
            type="button"
            mat-raised-button
            (click)="imgFileInput.click()"
            color="accent"
          >
            Upload Picture
          </button>
        }
        @if (selectedImage && selectedImage.value) {
          <div class="card-img-top main-image flex-1">
            <app-print-image
              [printId]="printForm.get('id').value"
              [imageId]="selectedImage.value.id"
              [imageData]="selectedImage.value.url"
              [showDeleteOnHover]="true"
              (delete)="removeImage(selectedImage)"
              (imageDataChange)="selectedImage.value.url = $event"
              class="flex-1"
            ></app-print-image>
          </div>
        }
        @if (false) {
          <div
            class="images-preview mt-2 flex justify-center content-center items-center flex-row"
          >
            @for (image of images.controls; track image; let i = $index) {
              <div formArrayName="images" class="flex-1">
                <div
                  [formGroupName]="i"
                  class="image-preview"
                  [ngClass]="{
                    isDefault: image?.value?.isDefault === true,
                    isSelected: selectedImage === image
                  }"
                  (click)="selectImage(image)"
                >
                  <!--
                    <img
                      [src]="$any(image).value.url"
                      [ngClass]="{
                      }"
                      alt="Image Preview"
                      (click)="selectImage(image)"
                      />
                    -->
                  <app-print-image
                    [printId]="printForm.get('id').value"
                    [imageId]="image.value.id"
                    [imageData]="image.value.url"
                    (imageDataChange)="image.value.url = $event"
                    class="flex-1"
                  ></app-print-image>
                </div>
              </div>
            }
          </div>
        }
      </div>
      <mat-card-content
        class="flex flex-col justify-evenly content-center items-center w-full basis-full h-full min-h-full min-w-full"
      >
        <mat-form-field class="basis-full h-full w-full min-h-full min-w-full">
          <mat-label> Title</mat-label>
          <input
            id="edit-print-title"
            matInput
            type="text"
            formControlName="title"
            required
            maxlength="100"
          />
          @if (printForm.controls['title'].hasError('required')) {
            <mat-error> A Title is <strong>required</strong> </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="basis-full h-full w-full min-h-full min-w-full">
          <mat-label> Printer</mat-label>
          <mat-select
            formControlName="printerId"
            required
            id="edit-print-printer"
          >
            @for (printer of printers; track printer) {
              <mat-option [value]="printer.id">{{
                getPrinterLabel(printer)
              }}</mat-option>
            }
          </mat-select>
          @if (printForm.controls['printerId'].hasError('required')) {
            <mat-error> A Printer is <strong>required</strong> </mat-error>
          }
        </mat-form-field>
        <div
          style="margin: 10 0 10"
          class="basis-full h-full w-full min-h-full min-w-full"
        >
          <mat-form-field style="margin: 0" class="basis-full">
            <mat-label>Start Date and Time</mat-label>
            <input
              matInput
              [ngxMatDatetimePicker]="picker"
              placeholder="Start Date and Time"
              formControlName="startDate"
              aria-label="The date and time that the print was started."
            />
            @if (printForm.controls['startDate'].hasError('required')) {
              <mat-error> A Start Date is <strong>required</strong> </mat-error>
            }
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #picker
              [showSpinners]="true"
              [showSeconds]="true"
              [touchUi]="true"
              color="primary"
              [enableMeridian]="true"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <button
            style="margin-left: 10px; height: 72%"
            mat-raised-button
            type="button"
            color="basic"
            (click)="setStartDateToNow()"
            aria-label="Set the start date and time to now."
            class="flex-1"
          >
            Now
          </button>
        </div>
        <mat-form-field class="basis-full h-full w-full min-h-full min-w-full">
          <mat-label> Thing URL</mat-label>
          <input
            id="edit-print-url"
            matInput
            type="url"
            formControlName="url"
            maxlength="1000"
          />
        </mat-form-field>
        <div
          style="margin: 10 0 10"
          fxLayout.lt-md="column"
          class="flex flex-row basis-full h-full w-full min-h-full min-w-full"
        >
          <mat-form-field
            style="margin: 0px 5px 0px 0px"
            fxFlex="50%"
            class="lt-md:basis-full"
          >
            <mat-label> Estimated Print Time</mat-label>
            <input
              id="edit-print-estimated-print-time"
              matInput
              type="text"
              placeholder="Ex: 6h 31m 15s  or  2 hours 10 min 20 sec"
              formControlName="estimatedPrintTimeInSeconds"
              (change)="getEstimatedCompletedDate()"
            />
          </mat-form-field>
          <mat-form-field
            style="margin: 0"
            fxFlex="50%"
            class="lt-md:basis-full"
          >
            <input
              matInput
              [ngxMatDatetimePicker]="estimatedPicker"
              placeholder="Estimated Completed Date and Time"
              [ngModel]="estimatedCompletedDate"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="true"
              aria-label="The estimated date and time of completion."
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="estimatedPicker"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #estimatedPicker
              [showSpinners]="true"
              [showSeconds]="true"
              [touchUi]="true"
              color="primary"
              [enableMeridian]="true"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </div>
        <!-- Actual -->
        <div
          style="margin: 10 0 10"
          fxLayout.lt-md="column"
          class="flex flex-row basis-full h-full w-full min-h-full min-w-full"
        >
          <mat-form-field
            style="margin: 0px 5px 0px 0px"
            fxFlex="50%"
            class="lt-md:basis-full"
          >
            <mat-label> Actual Print Time</mat-label>
            <input
              id="edit-print-actual-print-time"
              matInput
              type="text"
              formControlName="printTimeInSeconds"
              placeholder="Ex: 6h 31m 15s  or  2 hours 10 min 20 sec"
              (change)="getActualCompletedDate()"
            />
          </mat-form-field>
          <div fxFlex="50%" class="lt-md:basis-full">
            <mat-form-field style="margin: 0" class="basis-full">
              <input
                matInput
                [ngxMatDatetimePicker]="actualPicker"
                placeholder="Completed Date and Time"
                [ngModel]="actualCompletedDate"
                (ngModelChange)="updateActualCompletedDate($event)"
                [ngModelOptions]="{ standalone: true }"
                aria-label="The date and time of completion."
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="actualPicker"
              ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker
                #actualPicker
                [showSpinners]="true"
                [showSeconds]="true"
                [touchUi]="true"
                color="primary"
                [enableMeridian]="true"
              >
              </ngx-mat-datetime-picker>
            </mat-form-field>
            <button
              style="margin-left: 10px; height: 72%"
              mat-raised-button
              type="button"
              color="basic"
              (click)="setActualCompletedDateToNow()"
              aria-label="Set the Completed Date to now."
              class="flex-1"
            >
              Now
            </button>
          </div>
        </div>
        <!-- Material Usage -->
        <div class="basis-full h-full w-full min-h-full min-w-full">
          <h2>
            {{ materialCategoryNameForSelectedPrinter | titlecase }} Usage:
          </h2>
          <button
            type="button"
            mat-raised-button
            (click)="addNewFilamentUsage()"
            color="accent"
            style="margin-bottom: 5px"
          >
            Add New
            {{ materialCategoryNameForSelectedPrinter | titlecase }} Record
          </button>
        </div>
        <div formArrayName="filamentUsage">
          @for (
            printFilament of filamentUsage.controls;
            track printFilament;
            let printFilamentIndex = $index
          ) {
            <div style="margin-bottom: 10px">
              <div [formGroupName]="printFilamentIndex">
                <mat-card
                  class="mat-elevation-z4 flex flex-row basis-full h-full w-full min-h-full min-w-full"
                >
                  <mat-card-content>
                    <div class="flex flex-col basis-full">
                      <div class="flex-1">
                        <div
                          class="filament-color-cell"
                          [ngStyle]="{
                            'background-color': printFilament.get('filament')
                              .value?.colorHex
                              ? '#' +
                                printFilament.get('filament').value?.colorHex
                              : null
                          }"
                        ></div>
                      </div>
                      <div class="filament-section flex-1">
                        {{
                          printFilament.get('filament').value?.displayName ||
                            'Other'
                        }}
                      </div>
                      @if (
                        printFilament.get('filament').value?.colorName !== ''
                      ) {
                        <div class="filament-section flex-1">
                          {{ printFilament.get('filament').value?.colorName }}
                        </div>
                      }
                      <div class="filament-section flex-1">
                        {{ printFilament.get('filament').value?.materialType }}
                      </div>
                      @if (printFilament.get('filament').value !== null) {
                        <div class="filament-section flex-1">
                          {{
                            printFilament.get('filament').value
                              ?.filamentRemaining / 1000 | number
                          }}
                          (g) remaining
                        </div>
                      }
                      @if (printFilament.get('filament').value !== null) {
                        <div class="filament-section flex-1">
                          {{
                            printFilament.get('filament').value
                              ?.filamentLengthRemainingInM | number
                          }}
                          (m) remaining
                        </div>
                      }
                      @if (printFilament.get('filament').value !== null) {
                        <div class="filament-section flex-1">
                          {{
                            printFilament.get('filament').value
                              ?.filamentVolumeRemainingInMl | number
                          }}
                          (ml) remaining
                        </div>
                      }
                      @if (
                        printFilament.get('filament').value !== null &&
                        printFilament.get('filament').value
                          ?.purchasePriceValue !== null &&
                        printFilament.get('filament').value
                          ?.purchasePriceValue !== ''
                      ) {
                        <div class="filament-section flex-1">
                          Price: {{ preferredCurrency?.symbol
                          }}{{
                            printFilament.get('filament').value
                              ?.purchasePriceValue
                          }}
                        </div>
                      }
                      @if (
                        printFilament.get('filament').value !== null &&
                        printFilament.get('filament').value
                          ?.purchasePriceValue === null &&
                        defaultFilamentPriceSetting?.value !== null
                      ) {
                        <div
                          class="filament-section flex-1"
                          matTooltip="* using default filament price of {{
                            preferredCurrency?.symbol
                          }}{{ defaultFilamentPriceSetting?.value }}"
                        >
                          Price: {{ preferredCurrency?.symbol
                          }}{{ defaultFilamentPriceSetting?.value }}*
                        </div>
                      }
                      <div class="flex-1">
                        <button
                          type="button"
                          mat-raised-button
                          (click)="removeFilament(printFilamentIndex)"
                          aria-label="Delete Filament"
                        >
                          <mat-icon>delete</mat-icon>Delete
                        </button>
                      </div>
                    </div>
                    <div class="flex flex-col basis-full">
                      <div
                        class="basis-full h-full w-full min-h-full min-w-full"
                      >
                        <button
                          mat-raised-button
                          color="accent"
                          (click)="
                            searchFilament(printFilament.get('filament'))
                          "
                          type="button"
                          style="margin-bottom: 5px"
                          class="basis-full"
                        >
                          {{
                            printFilament.get('filament')?.value !== null
                              ? 'Change'
                              : 'Select'
                          }}
                          {{
                            materialCategoryNameForSelectedPrinter | titlecase
                          }}
                        </button>
                      </div>
                      <div
                        fxLayout="row"
                        class="lt-md:flex lt-md:flex-col basis-full"
                      >
                        @if (
                          printFilament.get('estimatedSource').value ===
                          printFilamentSourceMeasurementTypes.Weight
                        ) {
                          <mat-form-field class="basis-full">
                            <mat-label>
                              Estimated
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (g)</mat-label
                            >
                            <input
                              id="edit-print-estimated-filement-used-gram-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              pattern="^\d*(\.\d{0,3})?$"
                              formControlName="estimatedAmountG"
                            />
                            @if (
                              printFilament
                                .get('estimatedAmountG')
                                .hasError('min')
                            ) {
                              <mat-error>
                                Estimated
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                            @if (
                              printFilament
                                .get('estimatedAmountG')
                                .hasError('pattern')
                            ) {
                              <mat-error>
                                Numbers (up to 3-decimal places) only.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        @if (
                          printFilament.get('estimatedSource').value ===
                          printFilamentSourceMeasurementTypes.Length
                        ) {
                          <mat-form-field class="basis-full">
                            <mat-label>
                              Estimated
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (m)</mat-label
                            >
                            <input
                              id="edit-print-estimated-filement-used-meter-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              formControlName="estimatedLengthInM"
                            />
                            @if (
                              printFilament
                                .get('estimatedLengthInM')
                                .hasError('min')
                            ) {
                              <mat-error>
                                Estimated
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        @if (
                          printFilament.get('estimatedSource').value ===
                          printFilamentSourceMeasurementTypes.Volume
                        ) {
                          <mat-form-field class="basis-full">
                            <mat-label>
                              Estimated
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (ml)</mat-label
                            >
                            <input
                              id="edit-print-estimated-filement-used-ml-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              formControlName="estimatedVolumeMl"
                            />
                            @if (
                              printFilament
                                .get('estimatedVolumeMl')
                                .hasError('min')
                            ) {
                              <mat-error>
                                Estimated
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        <mat-form-field fxFlex="120px" class="lt-md:basis-full">
                          <mat-label>Measure</mat-label>
                          <mat-select
                            formControlName="estimatedSource"
                            (selectionChange)="
                              HandleFilamentMeasureTypeChange($event.value)
                            "
                          >
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Weight
                              "
                            >
                              Weight
                            </mat-option>
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Length
                              "
                            >
                              Length
                            </mat-option>
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Volume
                              "
                            >
                              Volume
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div
                        fxLayout="row"
                        class="lt-md:flex lt-md:flex-col basis-full"
                      >
                        @if (
                          printFilament.get('source').value ===
                          printFilamentSourceMeasurementTypes.Weight
                        ) {
                          <mat-form-field class="basis-full">
                            <mat-label>
                              Actual
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (g)</mat-label
                            >
                            <input
                              id="edit-print-actual-filament-used-gram-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              pattern="^\d*(\.\d{0,3})?$"
                              formControlName="amountG"
                            />
                            @if (printFilament.get('amountG').hasError('min')) {
                              <mat-error>
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                            @if (
                              printFilament.get('amountG').hasError('pattern')
                            ) {
                              <mat-error>
                                Numbers (up to 3-decimal places) only.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        @if (
                          printFilament.get('source').value ===
                          printFilamentSourceMeasurementTypes.Length
                        ) {
                          <mat-form-field class="basis-full">
                            <mat-label>
                              Actual
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (m)</mat-label
                            >
                            <input
                              id="edit-print-actual-filament-used-meter-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              formControlName="lengthInM"
                            />
                            @if (
                              printFilament.get('lengthInM').hasError('min')
                            ) {
                              <mat-error>
                                Actual
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        @if (
                          printFilament.get('source').value ===
                          printFilamentSourceMeasurementTypes.Volume
                        ) {
                          <mat-form-field class="basis-full">
                            <mat-label>
                              Actual
                              {{
                                materialCategoryNameForSelectedPrinter
                                  | titlecase
                              }}
                              Used (ml)</mat-label
                            >
                            <input
                              id="edit-print-actual-filament-used-ml-{{
                                printFilamentIndex
                              }}"
                              matInput
                              type="text"
                              formControlName="volumeMl"
                            />
                            @if (
                              printFilament.get('volumeMl').hasError('min')
                            ) {
                              <mat-error>
                                Actual
                                {{
                                  materialCategoryNameForSelectedPrinter
                                    | titlecase
                                }}
                                Usage must be a positive number.
                              </mat-error>
                            }
                          </mat-form-field>
                        }
                        <mat-form-field fxFlex="120px" class="lt-md:basis-full">
                          <mat-label>Measure</mat-label>
                          <mat-select formControlName="source">
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Weight
                              "
                            >
                              Weight
                            </mat-option>
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Length
                              "
                            >
                              Length
                            </mat-option>
                            <mat-option
                              [value]="
                                printFilamentSourceMeasurementTypes.Volume
                              "
                            >
                              Volume
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <mat-form-field
                        class="basis-full h-full w-full min-h-full min-w-full"
                      >
                        <mat-label>
                          {{
                            printFilament.get('filament').value === null
                              ? 'Filament Type'
                              : 'Filament Notes'
                          }}</mat-label
                        >
                        <input
                          id="edit-print-filament-notes-{{
                            printFilamentIndex
                          }}"
                          matInput
                          type="text"
                          maxlength="1000"
                          formControlName="notes"
                        />
                      </mat-form-field>
                      @if (printFilament.get('filament').value !== null) {
                        <div
                          gdColumns="max-content auto"
                          gdRows="2"
                          gdGap="10px"
                          style="padding-inline: 10px; padding-bottom: 5px"
                        >
                          <div gdColumn="1" gdRow="1">Estimated Cost:</div>
                          <div
                            gdColumn="2"
                            gdRow="1"
                            matTooltip="* using default filament price of {{
                              defaultFilamentPriceSetting?.value
                            }}"
                            [matTooltipDisabled]="
                              printFilament.get('filament').value
                                ?.purchasePriceValue !== null
                            "
                          >
                            {{ getEstimatedPrice($any(printFilament)) }}
                          </div>
                          @if (
                            printFilament.get('amountG').value !== 0 ||
                            printFilament.get('lengthInM').value !== 0
                          ) {
                            <div gdColumn="1" gdRow="2">Actual Cost:</div>
                          }
                          @if (
                            printFilament.get('amountG').value !== 0 ||
                            printFilament.get('lengthInM').value !== 0
                          ) {
                            <div
                              gdColumn="2"
                              gdRow="2"
                              matTooltip="* using default filament price of {{
                                preferredCurrency?.symbol
                              }}{{ defaultFilamentPriceSetting?.value }}"
                              [matTooltipDisabled]="
                                printFilament.get('filament').value
                                  ?.purchasePriceValue !== null
                              "
                            >
                              {{ getActualPrice($any(printFilament)) }}
                            </div>
                          }
                        </div>
                      }
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          }
        </div>
        <mat-form-field class="basis-full h-full w-full min-h-full min-w-full">
          <mat-label> Notes</mat-label>
          <textarea
            id="edit-print-notes"
            matInput
            type="text"
            formControlName="notes"
            maxlength="50000"
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="15"
          ></textarea>
          @if (50000 - printForm.get('notes').value.length < 1000) {
            <mat-hint align="end">
              {{ 50000 - printForm.get('notes').value.length }} characters
              remaining.</mat-hint
            >
          }
        </mat-form-field>
        <mat-form-field class="basis-full h-full w-full min-h-full min-w-full">
          <mat-label> File Name</mat-label>
          <input
            id="edit-print-file-name"
            matInput
            type="text"
            formControlName="fileName"
            maxlength="1000"
          />
        </mat-form-field>
        <mat-form-field class="basis-full h-full w-full min-h-full min-w-full">
          <mat-label> Status</mat-label>
          <mat-select formControlName="status" id="edit-print-status">
            <mat-option [value]="printStatusTypes.Pending">Pending</mat-option>
            <mat-option [value]="printStatusTypes.Printing"
              >Printing</mat-option
            >
            <mat-option [value]="printStatusTypes.Success">Success</mat-option>
            <mat-option [value]="printStatusTypes.PartialSuccess"
              >Partial Success</mat-option
            >
            <mat-option [value]="printStatusTypes.Cancelled"
              >Cancelled</mat-option
            >
            <mat-option [value]="printStatusTypes.Failed">Failed</mat-option>
          </mat-select>
        </mat-form-field>
        <div
          style="margin: 10 0 10"
          class="basis-full h-full w-full min-h-full min-w-full"
        >
          <mat-form-field style="margin: 0" class="flex-1">
            <mat-label> Sharing To:</mat-label>
            <mat-select
              formControlName="viewStatus"
              id="edit-print-view-status"
            >
              <mat-option [value]="printViewStatusTypes.Public"
                >Public (anyone can view)</mat-option
              >
              <mat-option [value]="printViewStatusTypes.Unlisted"
                >Unlisted (anyone with link can view)</mat-option
              >
              <mat-option [value]="printViewStatusTypes.Private"
                >Private (only you can view)</mat-option
              >
            </mat-select>
          </mat-form-field>
          @if (
            this.printForm &&
            this.printForm.get('viewStatus').dirty &&
            (this.defaultPrintViewStatusSetting === null ||
              this.printForm.get('viewStatus').value.toString() !==
                this.defaultPrintViewStatusSetting.value.toString())
          ) {
            <button
              style="margin-left: 10px; height: 72%"
              mat-raised-button
              type="button"
              color="accent"
              (click)="
                this.changeDefaultViewStatus(
                  this.printForm.get('viewStatus').value
                )
              "
              class="flex-1"
            >
              Save as Default View Status
            </button>
          }
        </div>
        <mat-checkbox
          formControlName="allowComments"
          id="edit-allow-comments"
          class="basis-full h-full w-full min-h-full min-w-full"
          >Allow Comments</mat-checkbox
        >
      </mat-card-content>
      <mat-card-actions
        class="flex flex-col justify-between content-center items-center w-full flex-row gap-[15px]"
      >
        @if (printForm.get('id').value) {
          <div class="basis-full h-full w-full min-h-full min-w-full">
            <button
              id="edit-print-copy-btn"
              mat-raised-button
              [disabled]="printForm.dirty || saving"
              type="button"
              color="accent"
              title="{{
                printForm.dirty || saving
                  ? 'Save changes before copying'
                  : 'Copy to a new print'
              }}"
              [routerLink]="['../..', 'copy', printForm.get('id').value]"
            >
              Copy
            </button>
          </div>
        }
        <div class="basis-full h-full w-full min-h-full min-w-full">
          <button
            id="edit-print-submit-btn"
            mat-raised-button
            type="submit"
            [disabled]="saving"
            color="primary"
            [class.spinner]="saving"
            class="flex-1"
          >
            Submit
          </button>
        </div>
        <div class="basis-full h-full w-full min-h-full min-w-full">
          <button
            id="edit-print-cancel-btn"
            mat-raised-button
            type="button"
            (click)="handleClose()"
            color="warn"
            class="flex-1"
          >
            {{ printForm.dirty ? 'Cancel' : 'Close' }}
          </button>
        </div>
      </mat-card-actions>
    </form>
    <app-ad></app-ad>
  </mat-card>
</div>
