<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title fxLayoutAlign="start "
      >{{ this.printerForm.get('id').value !== null ? 'Edit' : 'Add' }} 3D
      Printer</mat-card-title
    >
    <form
      [formGroup]="printerForm"
      (ngSubmit)="onSubmit()"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content align="center">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            required
            maxlength="100"
          />
          <mat-error *ngIf="printerForm.controls['name'].hasError('required')">
            A Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Make</mat-label>
          <input
            matInput
            type="text"
            formControlName="make"
            required
            maxlength="50"
          />
          <mat-error *ngIf="printerForm.controls['make'].hasError('required')">
            A Make is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input
            matInput
            type="text"
            formControlName="model"
            required
            maxlength="50"
          />
          <mat-error *ngIf="printerForm.controls['model'].hasError('required')">
            A Model is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Filament Diameter (mm)</mat-label>
          <input
            matInput
            type="number"
            formControlName="filamentDiameter"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nozzle Diameter (mm)</mat-label>
          <input
            matInput
            type="number"
            formControlName="nozzleDiameter"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            type="textarea"
            formControlName="description"
            maxlength="1000"
            rows="3"
          ></textarea>
        </mat-form-field>

        <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
      </mat-card-content>
      <mat-card-actions align="center">
        <button
          mat-raised-button
          type="submit"
          [disabled]="!printerForm.valid || saving"
          color="primary"
          [class.spinner]="saving"
        >
          Submit
        </button>
        <button
          mat-raised-button
          type="button"
          class="close"
          (click)="handleClose()"
          color="warn"
        >
          {{ printerForm.dirty ? 'Cancel' : 'Close' }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
