<div fxLayout="row" fxLayoutAlign="center">
  <mat-card appearance="outlined" fxFlex="500px" fxFlex.xs="100%">
    <form
      [formGroup]="printerForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <mat-card-title fxFlex="grow"
        >{{ this.printerForm.get('id').value !== null ? 'Edit' : 'Add' }} 3D
        Printer</mat-card-title
      >
      <mat-card-content
        fxFlex="grow"
        fxFlexFill
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
      >
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Name</mat-label>
          <input
            id="edit-printer-name"
            matInput
            type="text"
            formControlName="name"
            required
            maxlength="100"
          />
          <mat-error *ngIf="printerForm.controls['name'].hasError('required')">
            A Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Make</mat-label>
          <input
            id="edit-printer-make"
            matInput
            type="text"
            formControlName="make"
            [matAutocomplete]="autoMake"
            required
            maxlength="50"
          />
          <mat-error *ngIf="printerForm.controls['make'].hasError('required')">
            A Make is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-autocomplete #autoMake="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredMakes | async"
            [value]="option"
            >{{ option }}</mat-option
          >
        </mat-autocomplete>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Model</mat-label>
          <input
            id="edit-printer-model"
            matInput
            type="text"
            formControlName="model"
            [matAutocomplete]="autoModel"
            required
            maxlength="50"
          />
          <mat-error *ngIf="printerForm.controls['model'].hasError('required')">
            A Model is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-autocomplete #autoModel="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredModels | async"
            [value]="option"
            >{{ option }}</mat-option
          >
        </mat-autocomplete>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Filament Diameter (mm)</mat-label>
          <input
            id="edit-printer-filament-diameter"
            matInput
            type="number"
            min="0"
            formControlName="filamentDiameter"
            required
          />
          <mat-error
            *ngIf="printerForm.controls['filamentDiameter'].hasError('min')"
          >
            Filament Diameter cannot be negative
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Nozzle Diameter (mm)</mat-label>
          <input
            matInput
            id="edit-printer-nozzle-diameter"
            type="number"
            min="0"
            formControlName="nozzleDiameter"
            required
          />
          <mat-error
            *ngIf="printerForm.controls['nozzleDiameter'].hasError('min')"
          >
            Nozzle Diameter cannot be negative
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Description</mat-label>
          <textarea
            id="edit-printer-description"
            matInput
            type="textarea"
            formControlName="description"
            maxlength="1000"
            rows="3"
          ></textarea>
        </mat-form-field>

        <mat-checkbox fxFlex="grow" formControlName="isActive"
          >Is Active</mat-checkbox
        >

        <div fxFlex="grow" fxFlexFill>
          Loaded Filaments: <br />
          <button
            type="button"
            mat-raised-button
            (click)="loadFilament()"
            color="accent"
            style="margin-bottom: 5px"
          >
            Load Filament
          </button>
        </div>

        <div formArrayName="loadedFilaments">
          <div
            *ngFor="
              let printFilament of loadedFilaments.controls;
              let printFilamentIndex = index
            "
            style="margin-bottom: 5px"
          >
            <div [formGroupName]="printFilamentIndex">
              <mat-card
                appearance="outlined"
                class="mat-elevation-z4"
                fxFlex="grow"
                fxFlexFill
                fxLayout="row"
              >
                <mat-card-content>
                  <div fxFlex="grow" fxLayout="column" fxLayoutGap="4px">
                    <div fxFlex style="padding-bottom: 10px">
                      <div
                        class="filament-color-cell"
                        [ngStyle]="{
                          'background-color': printFilament.get('filament')
                            .value?.colorHex
                            ? '#' +
                              printFilament.get('filament').value?.colorHex
                            : null
                        }"
                      ></div>
                    </div>
                    <div fxFlex>
                      {{
                        printFilament.get('filament').value?.displayName ||
                          'Other'
                      }}
                    </div>
                    <div
                      *ngIf="
                        printFilament.get('filament').value?.colorName !== ''
                      "
                      fxFlex
                    >
                      {{ printFilament.get('filament').value?.colorName }}
                    </div>
                    <div fxFlex>
                      {{ printFilament.get('filament').value?.materialType }}
                    </div>
                    <div
                      fxFlex="grow"
                      *ngIf="printFilament.get('filament').value !== null"
                    >
                      {{
                        printFilament.get('filament').value?.filamentRemaining /
                          1000 | number
                      }}
                      (g) remaining
                    </div>
                    <div
                      fxFlex="grow"
                      *ngIf="printFilament.get('filament').value !== null"
                    >
                      {{
                        printFilament.get('filament').value
                          ?.filamentLengthRemainingInM | number
                      }}
                      (m) remaining
                    </div>
                    <div
                      fxFlex
                      fxLayoutAlign="center"
                      style="padding-top: 10px"
                    >
                      <button
                        type="button"
                        mat-raised-button
                        (click)="removeFilament(printFilamentIndex)"
                        attr.aria-label="Unload {{
                          printFilament.get('filament').value?.displayName ||
                            'Other'
                        }}"
                      >
                        <mat-icon>delete</mat-icon>Unload
                      </button>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions
        fxLayout
        fxLayoutAlign="space-between center"
        fxLayoutGap="15px"
      >
        <button
          mat-raised-button
          type="submit"
          [disabled]="!printerForm.valid || saving"
          color="primary"
          [class.spinner]="saving"
          id="edit-printer-submit-btn"
        >
          Submit
        </button>
        <button
          id="edit-printer-cancel-btn"
          mat-raised-button
          type="button"
          class="close"
          (click)="handleClose()"
          color="warn"
        >
          {{ printerForm.dirty ? 'Cancel' : 'Close' }}
        </button>
      </mat-card-actions>
    </form>
    <app-ad></app-ad>
  </mat-card>
</div>
