<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <form
      [formGroup]="printerForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
      fxLayout="column wrap"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <mat-card-title fxFlex
        >{{ this.printerForm.get('id').value !== null ? 'Edit' : 'Add' }} 3D
        Printer</mat-card-title
      >
      <mat-card-content
        fxFlex
        fxFlexFill
        fxLayout="column wrap"
        fxLayoutAlign="space-evenly center"
      >
        <mat-form-field fxFlex fxFlexFill>
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            required
            maxlength="100"
          />
          <mat-error *ngIf="printerForm.controls['name'].hasError('required')">
            A Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex fxFlexFill>
          <mat-label>Make</mat-label>
          <input
            matInput
            type="text"
            formControlName="make"
            [matAutocomplete]="autoMake"
            required
            maxlength="50"
          />
          <mat-error *ngIf="printerForm.controls['make'].hasError('required')">
            A Make is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-autocomplete #autoMake="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredMakes | async"
            [value]="option"
            >{{ option }}</mat-option
          >
        </mat-autocomplete>

        <mat-form-field fxFlex fxFlexFill>
          <mat-label>Model</mat-label>
          <input
            matInput
            type="text"
            formControlName="model"
            [matAutocomplete]="autoModel"
            required
            maxlength="50"
          />
          <mat-error *ngIf="printerForm.controls['model'].hasError('required')">
            A Model is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-autocomplete #autoModel="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredModels | async"
            [value]="option"
            >{{ option }}</mat-option
          >
        </mat-autocomplete>

        <mat-form-field fxFlex fxFlexFill>
          <mat-label>Filament Diameter (mm)</mat-label>
          <input
            matInput
            type="number"
            formControlName="filamentDiameter"
            required
          />
        </mat-form-field>
        <mat-form-field fxFlex fxFlexFill>
          <mat-label>Nozzle Diameter (mm)</mat-label>
          <input
            matInput
            type="number"
            formControlName="nozzleDiameter"
            required
          />
        </mat-form-field>

        <mat-form-field fxFlex fxFlexFill>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            type="textarea"
            formControlName="description"
            maxlength="1000"
            rows="3"
          ></textarea>
        </mat-form-field>

        <mat-checkbox fxFlex formControlName="isActive">Is Active</mat-checkbox>
      </mat-card-content>
      <mat-card-actions
        fxLayout
        fxLayoutAlign="space-between center"
        fxLayoutGap="15px"
      >
        <button
          mat-raised-button
          type="submit"
          [disabled]="!printerForm.valid || saving"
          color="primary"
          [class.spinner]="saving"
        >
          Submit
        </button>
        <button
          mat-raised-button
          type="button"
          class="close"
          (click)="handleClose()"
          color="warn"
        >
          {{ printerForm.dirty ? 'Cancel' : 'Close' }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
