mat-form-field {
  width: 400px;
}
mat-card-title {
  text-align: center;
}

.image-preview {
  max-width: 50px;
  padding: 5px;
}

.isSelected {
  -webkit-box-shadow: inset 0px 0px 0px 9px rgba(115, 138, 255, 1);
  -moz-box-shadow: inset 0px 0px 0px 9px rgba(115, 138, 255, 1);
  box-shadow: inset 0px 0px 0px 9px rgba(115, 138, 255, 1);
}

.isDefault:after {
  content: '*';
  color: green;
}

.main-image {
  position: relative;
  max-width: 400px;
  max-height: 400px;
}
