<div *ngIf="allowComments">
  <div>
    <h3>Comments:</h3>
    <button mat-flat-button (click)="scrollToReply()">Reply</button>
  </div>
  <div class="comment" *ngFor="let comment of comments">
    <app-comment
      [comment]="comment"
      [showDelete]="
        printOwnerUserId === currentUserId ||
        comment.createdById === currentUserId
      "
      (delete)="deleteComment(comment)"
    >
    </app-comment>
  </div>
  <div>
    <mat-card class="mat-elevation-z4">
      <div *ngIf="isLoggedIn">
        <mat-card-content>
          <img
            *ngIf="currentUserProfilePicture !== ''"
            mat-card-avatar
            [src]="currentUserProfilePicture"
          />
          <mat-form-field style="width: 100%">
            <mat-label>Add Comment:</mat-label>
            <textarea
              #newCommentTextArea
              id="add-comment-textarea"
              matInput
              maxlength="2000"
              cdkTextareaAutosize
              [(ngModel)]="newComment"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="10"
            ></textarea>

            <mat-hint align="end">
              {{ 2000 - newComment.length }} characters remaining.</mat-hint
            >
          </mat-form-field>
          <button
            id="btn-add-print-comment"
            mat-raised-button
            color="accent"
            (click)="addComment()"
            style="margin-left: auto"
          >
            Add Comment
          </button>
        </mat-card-content>
      </div>
      <div *ngIf="!isLoggedIn">
        <mat-card-content #notLoggedIn>
          <p>Please log in to add comments</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
<div *ngIf="!allowComments">
  <mat-card> Comments are disabled for this print. </mat-card>
</div>
