<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="500px" fxFlex.xs="100%" fxFlex.gt-md="1200px">
    <div
      fxLayout="column wrap"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      fxLayout.gt-md="row"
      fxLayoutAlign="space-around start"
    >
      <mat-card-header fxFlex fxLayout="column" fxLayoutAlign="start start">
        <div fxFlex class="cover-photo-container">
          <img
            *ngIf="this.userDetail.coverPicture"
            [src]="this.userDetail.coverPicture"
            class="cover-photo"
          />
          <div *ngIf="!this.userDetail.coverPicture" class="empty-cover-photo">
            &nbsp;
          </div>
          <button
            *ngIf="userDetail.id === currentUser?.id && !isEditingDescription"
            mat-button
            class="transparent btn-transparent cover-photo-edit"
            [matMenuTriggerFor]="coverPhotoMenu"
          >
            <mat-icon>photo</mat-icon> Cover Photo
          </button>
          <mat-menu #coverPhotoMenu="matMenu">
            <button
              type="button"
              mat-menu-item
              (click)="coverphotoinput.click()"
            >
              <mat-icon>add_photo_alternate</mat-icon>Upload Photo
            </button>
            <button type="button" mat-menu-item (click)="removeCoverPhoto()">
              <mat-icon>delete</mat-icon>Remove
            </button>
          </mat-menu>
          <input
            type="file"
            accept="image/*"
            style="display: none;"
            id="cover-photo-input"
            #coverphotoinput
            (change)="addCoverPhoto($event)"
          />
        </div>
        <div fxFlex class="profile-picture-container">
          <div class="profile-picture-wrapper">
            <img
              [src]="this.userDetail.profilePicture"
              class="profile-picture"
            />
          </div>
          <button
            *ngIf="userDetail.id === currentUser?.id && !isEditingDescription"
            type="button"
            class="transparent btn-transparent profile-photo-edit"
            (click)="profilephotoinput.click()"
          >
            <mat-icon>photo</mat-icon>
          </button>
          <input
            type="file"
            accept="image/*"
            style="display: none;"
            id="profile-photo-input"
            #profilephotoinput
            (change)="addProfilePicture($event)"
          />
        </div>
        <div fxFlex fxFlexFill fxLayout="column" fxLayoutAlign="start center">
          <div fxFlex class="user-display-name">
            <h2 aria-label="User name">{{ userDetail.displayName }}</h2>
            <!-- <button
              *ngIf="userDetail.id === currentUser?.id && !isEditingDescription"
              type="button"
            >
              <mat-icon>edit</mat-icon>Edit
            </button> -->
          </div>
          <div fxFlex class="user-bio">
            <div
              *ngIf="!isEditingDescription"
              fxLayout="column"
              fxLayoutAlign="start center"
              fxLayoutGap="15px"
            >
              <div
                *ngIf="!isEditingDescription"
                style="white-space: pre-wrap;"
                fxFlex
              >
                {{ userDetail.bio }}
              </div>
              <div fxFlex>
                <button
                  *ngIf="
                    userDetail.id === currentUser?.id && !isEditingDescription
                  "
                  type="button"
                  mat-raised-button
                  color="accent"
                  (click)="startEditingDescription()"
                >
                  <mat-icon>edit</mat-icon>Edit Bio
                </button>
              </div>
            </div>

            <div
              *ngIf="isEditingDescription"
              class="mat-elevation-z5"
              style="padding: 10px;"
            >
              <mat-form-field style="width: 100%;">
                <mat-label>Describe who you are:</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  [(ngModel)]="bio"
                  maxlength="1000"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10"
                ></textarea>
                <mat-hint>
                  {{ 1000 - bio.length }} characters remaining.</mat-hint
                >
              </mat-form-field>
              <div fxLayout fxLayoutAlign="center center" fxLayoutGap="15px">
                <button
                  mat-raised-button
                  type="submit"
                  color="primary"
                  (click)="saveDescription()"
                >
                  Submit
                </button>
                <button
                  mat-raised-button
                  type="button"
                  class="close"
                  (click)="cancelEditingDescription()"
                  color="warn"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex>
          <app-stats [userId]="this.userDetail.id"></app-stats>
        </div>
        <div fxFlex>
          <ng-adsense></ng-adsense>
        </div>
      </mat-card-header>

      <mat-card-content
        fxFlex
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
      >
        <app-user-prints
          [userId]="this.userDetail.id"
          [userName]="this.userDetail.displayName"
          [userProfilePictureUrl]="this.userDetail.profilePicture"
        ></app-user-prints>
      </mat-card-content>

      <!-- <div fxFlex>
          <div
            fxFlex
            class="card-img-top main-image"
            *ngIf="selectedImage && selectedImage.value"
          >
            <app-print-image
              fxFlex
              [printId]="printForm.get('id').value"
              [imageId]="selectedImage.value.id"
              [imageData]="selectedImage.value.url"
              [showDeleteOnHover]="true"
              (imageDataChange)="selectedImage.value.url = $event"
            ></app-print-image>
          </div>
  
          <div
            class="images-preview mt-2"
            *ngIf="false"
            fxLayout
            fxLayoutAlign="center center"
          >
            <div
              fxFlex
              formArrayName="images"
              *ngFor="let image of images.controls; let i = index"
            >
              <div
                [formGroupName]="i"
                class="image-preview"
                [ngClass]="{
                  isDefault: image?.value?.isDefault === true,
                  isSelected: selectedImage === image
                }"
              >
                <app-print-image
                  fxFlex
                  [printId]="printForm.get('id').value"
                  [imageId]="image.value.id"
                  [imageData]="image.value.url"
                  (imageDataChange)="image.value.url = $event"
                ></app-print-image>
              </div>
            </div>
          </div>
        </div> -->

      <!-- <mat-card-actions
        fxLayout
        fxLayoutAlign="space-between center"
        fxLayoutGap="15px"
      >
        <div fxFlex fxFlexFill>
          <button fxFlex mat-raised-button type="button" color="warn">
            Close
          </button>
        </div>
      </mat-card-actions> -->
    </div>
  </mat-card>
</div>
