<div class="flex justify-center content-stretch items-stretch flex-row">
  <mat-card
    appearance="outlined"
    fxFlex="500px"
    fxFlex.xs="100%"
    class="gt-md:basis-[1200px]"
  >
    <div
      fxLayout="column"
      class="flex justify-start content-center items-center gt-md:flex gt-md:flex-row gap-2.5"
    >
      <mat-card-header
        class="flex justify-start content-start items-start flex-col basis-full"
      >
        <div class="cover-photo-container basis-full">
          @if (this.userDetail.coverPicture) {
            <img [src]="this.userDetail.coverPicture" class="cover-photo" />
          }
          @if (!this.userDetail.coverPicture) {
            <div class="empty-cover-photo">&amp;nbsp;</div>
          }
          @if (
            userDetail.id === currentUser?.id &&
            !isEditingDescription &&
            !isEditingDisplayName
          ) {
            <button
              mat-button
              class="transparent btn-transparent cover-photo-edit"
              [matMenuTriggerFor]="coverPhotoMenu"
            >
              <mat-icon>photo</mat-icon> Cover Photo
            </button>
          }
          <mat-menu #coverPhotoMenu="matMenu">
            <button
              type="button"
              mat-menu-item
              (click)="coverphotoinput.click()"
            >
              <mat-icon>add_photo_alternate</mat-icon>Upload Photo
            </button>
            <button type="button" mat-menu-item (click)="removeCoverPhoto()">
              <mat-icon>delete</mat-icon>Remove
            </button>
          </mat-menu>
          <input
            type="file"
            accept="image/*"
            style="display: none"
            id="cover-photo-input"
            #coverphotoinput
            (change)="addCoverPhoto($event)"
          />
        </div>
        <div class="profile-picture-container basis-full">
          <div class="profile-picture-wrapper">
            <img
              [src]="this.userDetail.profilePicture"
              class="profile-picture"
            />
          </div>
          @if (
            userDetail.id === currentUser?.id &&
            !isEditingDescription &&
            !isEditingDisplayName
          ) {
            <button
              type="button"
              class="transparent btn-transparent profile-photo-edit"
              (click)="profilephotoinput.click()"
            >
              <mat-icon>photo</mat-icon>
            </button>
          }
          <input
            type="file"
            accept="image/*"
            style="display: none"
            id="profile-photo-input"
            #profilephotoinput
            (change)="addProfilePicture($event)"
          />
        </div>
        <div
          class="flex flex-col justify-start content-center items-center w-full basis-full h-full min-h-full min-w-full"
        >
          <div class="user-display-name basis-full">
            @if (!isEditingDisplayName) {
              <div
                class="flex justify-start content-center items-center flex-col gap-[15px]"
              >
                <h2 aria-label="User name" class="basis-full">
                  {{ userDetail.displayName }}
                </h2>
                <div class="basis-full">
                  @if (
                    userDetail.id === currentUser?.id && !isEditingDescription
                  ) {
                    <button
                      mat-raised-button
                      type="button"
                      color="accent"
                      style="margin-bottom: 10px"
                      (click)="startEditingDisplayName()"
                    >
                      <mat-icon>edit</mat-icon>Edit Display Name
                    </button>
                  }
                </div>
              </div>
            }
            @if (isEditingDisplayName) {
              <div class="mat-elevation-z5 display-name" style="padding: 10px">
                <mat-form-field style="width: 100%">
                  <mat-label>Display name:</mat-label>
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    [(ngModel)]="displayName"
                    maxlength="30"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="2"
                  ></textarea>
                  <mat-hint>
                    {{ 30 - displayName.length }} characters
                    remaining.</mat-hint
                  >
                </mat-form-field>
                <div
                  class="flex justify-center content-center items-center flex-row gap-[15px]"
                >
                  <button
                    mat-raised-button
                    type="submit"
                    color="primary"
                    (click)="saveDisplayName()"
                  >
                    Submit
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    class="close"
                    (click)="cancelEditingDisplayName()"
                    color="warn"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            }
          </div>
          <div class="user-bio basis-full">
            @if (!isEditingDescription) {
              <div
                class="flex justify-start content-center items-center flex-col gap-[15px]"
              >
                @if (!isEditingDescription) {
                  <div style="white-space: pre-wrap" class="flex-1">
                    {{ userDetail.bio }}
                  </div>
                }
                <div class="flex-1">
                  @if (
                    userDetail.id === currentUser?.id && !isEditingDisplayName
                  ) {
                    <button
                      type="button"
                      mat-raised-button
                      color="accent"
                      (click)="startEditingDescription()"
                    >
                      <mat-icon>edit</mat-icon>Edit Bio
                    </button>
                  }
                </div>
              </div>
            }
            @if (isEditingDescription) {
              <div class="mat-elevation-z5" style="padding: 10px">
                <mat-form-field style="width: 100%">
                  <mat-label>Describe who you are:</mat-label>
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    [(ngModel)]="bio"
                    maxlength="1000"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="10"
                  ></textarea>
                  <mat-hint>
                    {{ 1000 - bio.length }} characters remaining.</mat-hint
                  >
                </mat-form-field>
                <div
                  class="flex justify-center content-center items-center flex-row gap-[15px]"
                >
                  <button
                    mat-raised-button
                    type="submit"
                    color="primary"
                    (click)="saveDescription()"
                  >
                    Submit
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    class="close"
                    (click)="cancelEditingDescription()"
                    color="warn"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            }
          </div>
          @if (userDetail.id === currentUser?.id) {
            <div class="basis-full">
              <hr />
              <div>
                <label for="profile-visibility" style="margin-right: 10px">
                  Profile Visibility:</label
                >
                <select
                  id="profile-visibility"
                  name="profile-visibility"
                  [(ngModel)]="viewStatus"
                >
                  <option [ngValue]="profileViewStatusTypes.Public">
                    Public (anyone can view)
                  </option>
                  <option [ngValue]="profileViewStatusTypes.Unlisted">
                    Unlisted (anyone with link can view)
                  </option>
                  <option [ngValue]="profileViewStatusTypes.Private">
                    Private (only you can view)
                  </option>
                </select>
              </div>
              @if (viewStatus !== this.userDetail.viewStatus) {
                <div>
                  <div
                    style="margin-top: 10px"
                    class="flex justify-center content-center items-center flex-row gap-[15px]"
                  >
                    <button
                      mat-raised-button
                      type="submit"
                      color="primary"
                      (click)="saveProfileVisibility(viewStatus)"
                    >
                      Save Visibility
                    </button>
                    <button
                      mat-raised-button
                      type="button"
                      class="close"
                      (click)="viewStatus = this.userDetail.viewStatus"
                      color="warn"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              }
              <hr />
            </div>
          }
        </div>
        <div class="basis-full">
          <app-stats [userId]="this.userDetail.id"></app-stats>
        </div>
        <div class="basis-full h-full w-full min-h-full min-w-full">
          <app-ad></app-ad>
        </div>
      </mat-card-header>
      <mat-card-content
        class="flex justify-start content-stretch items-stretch flex-col gap-2.5 basis-full"
      >
        <app-user-prints
          [userId]="this.userDetail.id"
          [userName]="this.userDetail.displayName"
          [userProfilePictureUrl]="this.userDetail.profilePicture"
        ></app-user-prints>
      </mat-card-content>
      <!-- <div fxFlex>
            <div
              fxFlex
              class="card-img-top main-image"
              *ngIf="selectedImage && selectedImage.value"
              >
              <app-print-image
                fxFlex
                [printId]="printForm.get('id').value"
                [imageId]="selectedImage.value.id"
                [imageData]="selectedImage.value.url"
                [showDeleteOnHover]="true"
                (imageDataChange)="selectedImage.value.url = $event"
              ></app-print-image>
            </div>
            <div
              class="images-preview mt-2"
              *ngIf="false"
              fxLayout
              fxLayoutAlign="center center"
              >
              <div
                fxFlex
                formArrayName="images"
                *ngFor="let image of images.controls; let i = index"
                >
                <div
                  [formGroupName]="i"
                  class="image-preview"
                  [ngClass]="{
                  isDefault: image?.value?.isDefault === true,
                  isSelected: selectedImage === image
                  }"
                  >
                  <app-print-image
                    fxFlex
                    [printId]="printForm.get('id').value"
                    [imageId]="image.value.id"
                    [imageData]="image.value.url"
                    (imageDataChange)="image.value.url = $event"
                  ></app-print-image>
                </div>
              </div>
            </div>
          </div> -->
      <!-- <mat-card-actions
          fxLayout
          fxLayoutAlign="space-between center"
          fxLayoutGap="15px"
          >
          <div fxFlex fxFlexFill>
            <button fxFlex mat-raised-button type="button" color="warn">
              Close
            </button>
          </div>
        </mat-card-actions> -->
    </div>
  </mat-card>
</div>
