<h1 mat-dialog-title>Print Table Layout</h1>
<div mat-dialog-content>
  <!-- <mat-form-field>
    <mat-label> Sharing To:</mat-label>
    <mat-select
      [ngModel]="print?.viewStatus"
      (ngModelChange)="updatePrint($event)"
    >
      <mat-option [value]="printViewStatusTypes.Public"
        >Public (anyone can view)</mat-option
      >
      <mat-option [value]="printViewStatusTypes.Unlisted"
        >Unlisted (anyone with link can view)</mat-option
      >
      <mat-option [value]="printViewStatusTypes.Private"
        >Private (only you can view)</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label> Link to Print:</mat-label>
    <input matInput readonly="true" [ngModel]="printLink" />
  </mat-form-field> -->
  <mat-selection-list [(ngModel)]="selectedColumns">
    <mat-list-option *ngFor="let column of allColumns" [value]="column.key">
      {{ column.displayName }}
    </mat-list-option>
  </mat-selection-list>
</div>
<div mat-dialog-actions fxLayout fxLayoutAlign="space-around">
  <button
    type="button"
    mat-raised-button
    color="accent"
    [mat-dialog-close]="selectedColumns"
  >
    Close
  </button>
</div>
