<h1 mat-dialog-title>Print Table Layout</h1>
<div mat-dialog-content>
  <mat-selection-list
    [(ngModel)]="selectedColumns"
    (ngModelChange)="this.data.changeEvent.next($event)"
    (cdkDropListDropped)="drop($event)"
    cdkDropList
  >
    @for (column of allColumns; track column; let i = $index) {
      <div cdkDrag style="display: flex">
        <div style="flex: initial; align-self: center">
          <button
            class="transparent"
            style="cursor: pointer"
            (click)="moveUp(i)"
          >
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
          <button
            class="transparent"
            style="cursor: pointer"
            (click)="moveDown(i)"
          >
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <div
          style="flex: initial; align-self: center; cursor: grab"
          cdkDragHandle
        >
          <mat-icon>drag_handle</mat-icon>
        </div>
        <div style="flex: 1">
          <mat-list-option
            [value]="column.key"
            [matTooltip]="column.description"
          >
            {{ column.displayName }}
          </mat-list-option>
        </div>
      </div>
    }
  </mat-selection-list>
</div>
<div
  mat-dialog-actions
  class="flex justify-between content-center items-center flex-row"
>
  <button
    type="button"
    mat-raised-button
    color="basic"
    (click)="resetToDefaults()"
  >
    Reset to Default
  </button>
  <button
    type="button"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="selectedColumns"
  >
    Save
  </button>
  <button
    type="button"
    mat-raised-button
    color="accent"
    (click)="resetSelection()"
  >
    Close
  </button>
</div>
