<h1 mat-dialog-title>Print Table Layout</h1>
<div mat-dialog-content>
  <!-- <mat-form-field>
    <mat-label> Sharing To:</mat-label>
    <mat-select
      [ngModel]="print?.viewStatus"
      (ngModelChange)="updatePrint($event)"
    >
      <mat-option [value]="printViewStatusTypes.Public"
        >Public (anyone can view)</mat-option
      >
      <mat-option [value]="printViewStatusTypes.Unlisted"
        >Unlisted (anyone with link can view)</mat-option
      >
      <mat-option [value]="printViewStatusTypes.Private"
        >Private (only you can view)</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label> Link to Print:</mat-label>
    <input matInput readonly="true" [ngModel]="printLink" />
  </mat-form-field> -->
  <mat-selection-list
    [(ngModel)]="selectedColumns"
    (ngModelChange)="this.data.changeEvent.next($event)"
  >
    <mat-list-option
      *ngFor="let column of allColumns"
      [value]="column.key"
      [matTooltip]="column.description"
    >
      {{ column.displayName }}
    </mat-list-option>
  </mat-selection-list>
</div>
<div
  mat-dialog-actions
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayout
>
  <button
    fxFlex="shrink"
    fxFlexAlign="start"
    type="button"
    mat-raised-button
    color="basic"
    (click)="resetToDefaults()"
  >
    Reset to Default
  </button>
  <button
    fxFlex="shrink"
    fxFlexAlign="end"
    type="button"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="selectedColumns"
  >
    Save
  </button>
  <button
    fxFlex="shrink"
    fxFlexAlign="end"
    type="button"
    mat-raised-button
    color="accent"
    (click)="resetSelection()"
  >
    Close
  </button>
</div>
