<div>
  <div routerLink="new">
    <button mat-raised-button type="button" color="accent">
      Add New Print
    </button>
  </div>

  <mat-form-field>
    <mat-label> Search: </mat-label
    ><input
      matInput
      type="text"
      [(ngModel)]="searchText"
      (ngModelChange)="debouncedUpdateFilter()"
      autocomplete="off"
  /></mat-form-field>

  <mat-form-field>
    <mat-label> Status</mat-label>
    <mat-select [(ngModel)]="filterByStatus" (ngModelChange)="updateFilter()">
      <mat-option [value]="-1">All</mat-option>
      <mat-option [value]="printStatusTypes.Pending">Pending</mat-option>
      <mat-option [value]="printStatusTypes.Printing">Printing</mat-option>
      <mat-option [value]="printStatusTypes.Success">Success</mat-option>
      <mat-option [value]="printStatusTypes.Cancelled">Cancelled</mat-option>
      <mat-option [value]="printStatusTypes.Failed">Failed</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox
    type="checkbox"
    [(ngModel)]="includeInactive"
    (ngModelChange)="updateFilter()"
    >Include Inactive</mat-checkbox
  >

  <table mat-table [dataSource]="prints">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let print">
        <div class="print-image">
          <app-print-image
            [printId]="print.id"
            [imageId]="print.defaultPrintImageId"
          ></app-print-image>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let print">{{ print.title }}</td>
    </ng-container>

    <ng-container matColumnDef="printer">
      <th mat-header-cell *matHeaderCellDef>Printer</th>
      <td mat-cell *matCellDef="let print">
        {{ getPrinterLabel(print) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="start-date">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let print">{{ print.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let print">{{ getStatus(print) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="row.id"
    ></tr>
  </table>

  <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageChange($event)"
  >
  </mat-paginator>
</div>
