table {
  width: 100%;
}

.header {
  margin-left: 5px;
  margin-top: 5px;
}

.print-image {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  max-height: 50px;
  max-width: 50px;
  margin: 3px;
  overflow: hidden;
}

.search-fields {
  display: inline;
  margin-left: 10px;
}
