<div class="flex justify-center content-stretch items-stretch flex-row">
  <mat-card appearance="outlined" class="basis-[500px]">
    <div
      fxLayout="column"
      class="flex justify-start content-center items-center gt-md:flex gt-md:flex-row gap-2.5"
    >
      <mat-card-header
        class="flex justify-start content-start items-start flex-col flex-1"
      >
        <mat-card-title>User Not Found</mat-card-title>
        <mat-card-subtitle
          >User cannot be found, or their profile is marked as
          private.</mat-card-subtitle
        >
      </mat-card-header>
    </div>
  </mat-card>
</div>
