<div fxLayout="row" fxLayoutAlign="center">
  <mat-card appearance="outlined" fxFlex="500px">
    <div
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      fxLayout.gt-md="row"
      fxLayoutAlign="space-around start"
    >
      <mat-card-header fxFlex fxLayout="column" fxLayoutAlign="start start">
        <mat-card-title>User Not Found</mat-card-title>
        <mat-card-subtitle
          >User cannot be found, or their profile is marked as
          private.</mat-card-subtitle
        >
      </mat-card-header>
    </div>
  </mat-card>
</div>
