.main-image {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.3em 0.6em;
  grid-auto-flow: dense;
  align-items: center;
}
h3 {
  width: auto;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

p,
ul,
.filamentUsage {
  grid-column: 2;
  width: auto;
  margin: 0;
}

hr {
  grid-column: 1/-1;
  width: auto;
  margin: 0;
}
