<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="24px" style="width: 100%">
  <mat-card appearance="outlined" fxFlex="500px" fxFlex.xs="100%">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-card-header fxFlex="grow">
        <img mat-card-avatar [src]="this.user.profilePicture" />
        <mat-card-title>
          {{ print.title }}
        </mat-card-title>
        @if (isUserProfileFeatureEnabled) {
          <mat-card-subtitle>
            Printed by
            <a [routerLink]="['/users', user.id]">{{ user.displayName }}</a> on
            {{ print.startDate | date: 'longDate' }}
          </mat-card-subtitle>
        }
        @if (!isUserProfileFeatureEnabled) {
          <mat-card-subtitle>
            Printed by
            {{ user.displayName }} on
            {{ print.startDate | date: 'longDate' }}
          </mat-card-subtitle>
        }
      </mat-card-header>
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
      >
        <app-image-carousel
          [imageCount]="printImages.length"
          [selectedIndex]="selectedImageIndex"
          (indexChange)="onCarouselIndexChange($event)"
        >
          @if (selectedImage) {
            <div class="main-image">
              <app-print-image
                fxFlex
                [printId]="print.id"
                [imageId]="selectedImage.id"
                [imageData]="selectedImage.url"
                [showDeleteOnHover]="false"
                (imageDataChange)="selectedImage.url = $event"
              ></app-print-image>
            </div>
          }
        </app-image-carousel>
        <app-image-thumbnail-strip
          [images]="printImages"
          [selectedId]="selectedImage?.id"
          (imageSelected)="onImageSelected($event)"
        />
        <div></div>
      </mat-card-content>
      <mat-card-content
        fxFlex="grow"
        fxFlexFill
        fxLayout="column wrap"
        fxLayoutAlign="space-evenly center"
      >
        <section class="mat-typography grid-container">
          <h3>Print Status:</h3>
          <p>
            {{ getStatus(print.status) | titlecase }}
          </p>
          <h3>Printer:</h3>
          <p>{{ print.printer.make }} {{ print.printer.model }}</p>
          <h3>Thing URL:</h3>
          <p>{{ print.url }}</p>
          <h3>Estimated Print Time:</h3>
          <p>{{ print.estimatedPrintTimeInSeconds | duration }}</p>
          <h3>Actual Print Time:</h3>
          <p>{{ print.printTimeInSeconds | duration }}</p>
          <h3>Filament Usage:</h3>
          <div class="grid-container">
            @for (
              printFilament of print.filamentUsage;
              track printFilament;
              let last = $last
            ) {
              @if (printFilament.filament === null) {
                <h3>Filament:</h3>
                <p>{{ printFilament.notes }}</p>
                @if (
                  printFilament.estimatedSource ===
                  printFilamentSourceMeasurementTypes.Length
                ) {
                  @if (printFilament.estimatedLengthInM > 0) {
                    <h3>Estimated:</h3>
                    <p>
                      {{ printFilament.estimatedLengthInM | number: '1.0-1' }}
                      meters
                    </p>
                  }
                }
                @if (
                  printFilament.estimatedSource ===
                  printFilamentSourceMeasurementTypes.Weight
                ) {
                  @if (printFilament.estimatedAmountMg > 0) {
                    <h3>Estimated:</h3>
                    <p>{{ printFilament.estimatedAmountMg / 1000 }} grams</p>
                  }
                }
                @if (
                  printFilament.source ===
                  printFilamentSourceMeasurementTypes.Length
                ) {
                  @if (printFilament.lengthInM > 0) {
                    <h3>Actual:</h3>
                    <p>
                      {{ printFilament.lengthInM | number: '1.0-1' }} meters
                    </p>
                  }
                }
                @if (
                  printFilament.source ===
                  printFilamentSourceMeasurementTypes.Weight
                ) {
                  @if (printFilament.amountMg > 0) {
                    <h3>Actual:</h3>
                    <p>{{ printFilament.amountMg / 1000 }} grams</p>
                  }
                }
              }
              @if (printFilament.filament !== null) {
                <h3>Filament:</h3>
                <p>{{ printFilament.filament.displayName }}</p>
                @if (
                  printFilament.estimatedSource ===
                  printFilamentSourceMeasurementTypes.Length
                ) {
                  @if (printFilament.estimatedLengthInM > 0) {
                    <h3>Estimated:</h3>
                    <p>
                      {{ printFilament.estimatedLengthInM | number: '1.0-1' }}
                      meters
                    </p>
                  }
                }
                @if (
                  printFilament.estimatedSource ===
                  printFilamentSourceMeasurementTypes.Weight
                ) {
                  @if (printFilament.estimatedAmountMg > 0) {
                    <h3>Estimated:</h3>
                    <p>{{ printFilament.estimatedAmountMg / 1000 }} grams</p>
                  }
                }
                @if (
                  printFilament.source ===
                  printFilamentSourceMeasurementTypes.Length
                ) {
                  @if (printFilament.lengthInM > 0) {
                    <h3>Actual:</h3>
                    <p>
                      {{ printFilament.lengthInM | number: '1.0-1' }} meters
                    </p>
                  }
                }
                @if (
                  printFilament.source ===
                  printFilamentSourceMeasurementTypes.Weight
                ) {
                  @if (printFilament.amountMg > 0) {
                    <h3>Actual:</h3>
                    <p>{{ printFilament.amountMg / 1000 }} grams</p>
                  }
                }
              }
              @if (!last) {
                <hr />
              }
            }
            @if (
              (print.filamentUsageMg !== null && print.filamentUsageMg > 0) ||
              (print.estimatedFilamentUsageMg !== null &&
                print.estimatedFilamentUsageMg > 0) ||
              (print.filamentType && print.filamentType !== '')
            ) {
              @if (print.filamentUsage.length > 0) {
                <hr />
              }
              <h3>Filament:</h3>
              <p>{{ print.filamentType }}</p>
              @if (print.estimatedFilamentUsageMg > 0) {
                <h3>Estimated:</h3>
                <p>{{ print.estimatedFilamentUsageMg / 1000 }} (g)</p>
              }
              @if (print.filamentUsageMg > 0) {
                <h3>Actual:</h3>
                <p>{{ print.filamentUsageMg / 1000 }} (g)</p>
              }
            }
          </div>
          <h3>Notes:</h3>
          <p style="white-space: pre-wrap">{{ print.notes }}</p>
          <h3>File Name:</h3>
          <p style="white-space: pre-wrap">{{ print.fileName }}</p>
        </section>
      </mat-card-content>
      <mat-card-actions
        fxLayout
        fxLayoutAlign="space-between center"
        fxLayoutGap="15px"
      >
        <div fxFlex fxFlexFill fxLayoutGap="10px">
          @if (currentUser && currentUser.id === user.id) {
            <button
              fxFlex="grow"
              mat-raised-button
              type="button"
              color="accent"
              [routerLink]="['edit']"
              data-cy-edit-btn
            >
              Edit
            </button>
          }
          <button
            fxFlex="grow"
            mat-raised-button
            type="button"
            (click)="handleClose()"
            color="warn"
            data-cy-close-btn
          >
            Close
          </button>
        </div>
      </mat-card-actions>
      <mat-card-content style="width: 100%">
        <app-print-comments
          [printId]="print.id"
          [printOwnerUserId]="print.createdByUserId"
          [allowComments]="print.allowComments"
          [comments]="print.comments"
          (addNewComment)="addComment($event)"
        ></app-print-comments>
      </mat-card-content>
    </div>
    <app-ad></app-ad>
  </mat-card>
  <div fxHide fxShow.gt-md fxFlex="300px" class="ad-sidebar">
    <app-ad [adSlot]="9385779546" [fullWidthResponsive]="false"></app-ad>
  </div>
</div>
