<div fxLayout="row" fxLayoutAlign="center" style="width: 100%;">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <div fxLayout="column wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-card-header fxFlex>
        <img mat-card-avatar [src]="this.user.profilePicture" />
        <mat-card-title>
          {{ print.title }}
        </mat-card-title>
        <mat-card-subtitle *ngIf="isUserProfileFeatureEnabled">
          Printed by
          <a [routerLink]="['/users', user.id]">{{ user.displayName }}</a> on
          {{ print.startDate | date: 'longDate' }}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="!isUserProfileFeatureEnabled">
          Printed by
          {{ user.displayName }} on
          {{ print.startDate | date: 'longDate' }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
      >
        <div fxLayout="row">
          <div class="main-image" *ngIf="selectedImage">
            <app-print-image
              fxFlex
              [printId]="print.id"
              [imageId]="selectedImage.id"
              [imageData]="selectedImage.url"
              [showDeleteOnHover]="false"
              (imageDataChange)="selectedImage.url = $event"
            ></app-print-image>
          </div>
        </div>
        <div></div>
      </mat-card-content>

      <mat-card-content
        fxFlex
        fxFlexFill
        fxLayout="column wrap"
        fxLayoutAlign="space-evenly center"
      >
        <section class="mat-typography grid-container">
          <h3>Print Status:</h3>
          <p>
            {{ printStatusTypes[print.status] | titlecase }}
          </p>
          <h3>Printer:</h3>
          <p>{{ print.printer.make }} {{ print.printer.model }}</p>
          <h3>Thing URL:</h3>
          <p>{{ print.url }}</p>
          <h3>Estimated Print Time:</h3>
          <p>{{ print.estimatedPrintTimeInSeconds | duration }}</p>
          <h3>Estimated Filament Usage (grams)</h3>
          <p>
            {{
              print.estimatedFilamentUsageMg
                ? print.estimatedFilamentUsageMg / 1000
                : ''
            }}
          </p>
          <h3>Actual Print Time:</h3>
          <p>{{ print.printTimeInSeconds | duration }}</p>
          <h3>Actual Filament Usage (grams)</h3>
          <p>{{ print.filamentUsageMg ? print.filamentUsageMg / 1000 : '' }}</p>
          <h3>Filament Type:</h3>
          <p>{{ print.filamentType }}</p>
          <h3>Notes:</h3>
          <p style="white-space: pre-wrap;">{{ print.notes }}</p>
        </section>
      </mat-card-content>
      <mat-card-actions
        fxLayout
        fxLayoutAlign="space-between center"
        fxLayoutGap="15px"
      >
        <div fxFlex fxFlexFill>
          <button
            *ngIf="currentUser && currentUser.id === user.id"
            fxFlex
            mat-raised-button
            type="button"
            color="accent"
            [routerLink]="['edit']"
            data-cy-edit-btn
          >
            Edit
          </button>
          <button
            fxFlex
            mat-raised-button
            type="button"
            (click)="handleClose()"
            color="warn"
          >
            Close
          </button>
        </div>
      </mat-card-actions>
      <mat-card-content style="width: 100%;">
        <app-print-comments
          [comments]="print.comments"
          (addNewComment)="addComment($event)"
        ></app-print-comments>
      </mat-card-content>
    </div>
    <ng-adsense></ng-adsense>
  </mat-card>
</div>
