<div>
  <div class="header">
    <button
      mat-raised-button
      routerLink="new"
      type="button"
      color="accent"
      id="add-new-filament"
    >
      Add New Filament
    </button>
    <div class="search-fields">
      <mat-form-field>
        <mat-label> Search: </mat-label
        ><input
          id="filament-list-search-input"
          matInput
          type="text"
          [(ngModel)]="searchText"
          (ngModelChange)="debouncedUpdateFilter()"
          autocomplete="off"
      /></mat-form-field>

      <mat-checkbox
        type="checkbox"
        [(ngModel)]="includeInactive"
        (ngModelChange)="updateFilter()"
        >Include Inactive</mat-checkbox
      >
    </div>
  </div>

  <table
    mat-table
    [dataSource]="filaments"
    matSort
    [matSortActive]="sortColumn"
    [matSortDirection]="sortDirection === 1 ? 'asc' : 'desc'"
    (matSortChange)="sortData($event)"
    [matSortDisableClear]="true"
  >
    <ng-container matColumnDef="colorHex">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let filament">
        <div
          class="filament-color-cell"
          [ngStyle]="{ 'background-color': '#' + filament.colorHex }"
        ></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="filamentSortColumns.DisplayName"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let filament">
        {{ filament.displayName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="brand">
      <th
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="filamentSortColumns.Brand"
      >
        Brand
      </th>
      <td mat-cell *matCellDef="let filament">
        {{ filament.brand }}
      </td>
    </ng-container>

    <ng-container matColumnDef="colorName">
      <th
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="filamentSortColumns.Color"
      >
        Color
      </th>
      <td mat-cell *matCellDef="let filament">{{ filament.colorName }}</td>
    </ng-container>

    <ng-container matColumnDef="filamentRemaining">
      <th
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="filamentSortColumns.FilamentRemaining"
      >
        Remaining (g)
      </th>
      <td mat-cell *matCellDef="let filament">
        {{ filament.filamentRemaining / 1000 }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="row.id"
      data-cy-filament-row
    ></tr>
  </table>

  <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageChange($event)"
  >
  </mat-paginator>

  <ng-adsense></ng-adsense>
</div>
