<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50px" class="brand-img">
      <a [routerLink]="['/']" style="height: 100%; width: 100%">
        <img
          src="/assets/3d_brand_logo_b833b3f20dd.svg"
          alt="3D Print Log Logo"
        />
        <span class="visually-hidden">Navigate to home page.</span>
      </a>
      <!-- <object
      viewBox="0 0 100 100"
      type="image/svg+xml"
      data="/assets/small_logo.svg"
      >
      3D Print Log Logo
    </object> -->
    </div>
    <div fxFlex fxFlexFill>
      <div fxLayout="column" fxLayoutAlign="center start" style="height: 100%">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
          @if (!auth.loggedIn) {
            <a class="link" mat-button routerLink="/" routerLinkActive="active"
              >Home</a
            >
          }
          @if (auth.loggedIn) {
            <a
              mat-button
              class="link"
              routerLink="/prints"
              routerLinkActive="active"
              >Prints</a
            >
          }
          @if (auth.loggedIn) {
            <button mat-button class="link" [matMenuTriggerFor]="printerMenu">
              Printers
            </button>
          }
          <mat-menu #printerMenu="matMenu">
            <!-- <button mat-menu-item>Fee</button> -->
            <a
              class="menu-link"
              mat-menu-item
              routerLink="/printers"
              routerLinkActive="active"
              >Printers</a
            >
            <a
              class="menu-link"
              mat-menu-item
              routerLink="/printer-maintenance"
              routerLinkActive="active"
              >Printer Maintenance</a
            >
          </mat-menu>
          @if (auth.loggedIn) {
            <a
              mat-button
              class="link"
              routerLink="/materials"
              routerLinkActive="active"
              >Materials</a
            >
          }
          @if (!this.mobileQuery.matches) {
            @if (auth.loggedIn) {
              <a
                mat-button
                class="link"
                routerLink="/analytics"
                routerLinkActive="active"
                >Analytics</a
              >
            }
            <button mat-button class="link" [matMenuTriggerFor]="aboutMenu">
              About
            </button>
            <mat-menu #aboutMenu="matMenu">
              <!-- <button mat-menu-item>Fee</button> -->
              <a
                class="menu-link"
                mat-menu-item
                routerLink="/docs"
                routerLinkActive="active"
                >Documentation</a
              >
              @if (auth.loggedIn) {
                <a
                  class="menu-link"
                  mat-menu-item
                  routerLink="/feedback"
                  routerLinkActive="active"
                  >Send Feedback</a
                >
              }
              <a
                class="menu-link"
                mat-menu-item
                routerLink="/docs/release-notes"
                routerLinkActive="active"
                >Version v{{ versionNumber }}</a
              >
            </mat-menu>
            @if (auth.loggedIn && !isPro()) {
              <a
                mat-button
                class="link upgrade-link"
                routerLink="/subscription"
                routerLinkActive="active"
                matTooltip="Unlock Pro features"
              >
                <mat-icon>star</mat-icon>
                Upgrade to Pro
              </a>
            }
            @if (auth.loggedIn && isPro()) {
              <span class="pro-badge" matTooltip="You're on the Pro plan">
                <mat-icon>star</mat-icon> Pro
              </span>
            }
          }
        </div>
        @if (this.mobileQuery.matches) {
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <ng-container>
              @if (auth.loggedIn) {
                <a
                  mat-button
                  class="link"
                  routerLink="/analytics"
                  routerLinkActive="active"
                  >Analytics</a
                >
              }
              <button mat-button class="link" [matMenuTriggerFor]="aboutMenu">
                About
              </button>
              <mat-menu #aboutMenu="matMenu">
                <!-- <button mat-menu-item>Fee</button> -->
                <a
                  class="menu-link"
                  mat-menu-item
                  routerLink="/docs"
                  routerLinkActive="active"
                  >Documentation</a
                >
                @if (auth.loggedIn) {
                  <a
                    class="menu-link"
                    mat-menu-item
                    routerLink="/feedback"
                    routerLinkActive="active"
                    >Send Feedback</a
                  >
                }
                <a
                  class="menu-link"
                  mat-menu-item
                  routerLink="/docs/release-notes"
                  routerLinkActive="active"
                  >Version v{{ versionNumber }}</a
                >
              </mat-menu>
              @if (auth.loggedIn && !isPro()) {
                <a
                  mat-button
                  class="link upgrade-link"
                  routerLink="/subscription"
                  routerLinkActive="active"
                  matTooltip="Unlock Pro features"
                >
                  <mat-icon>star</mat-icon>
                  Upgrade to Pro
                </a>
              }
              @if (auth.loggedIn && isPro()) {
                <span class="pro-badge" matTooltip="You're on the Pro plan">
                  <mat-icon>star</mat-icon> Pro
                </span>
              }
            </ng-container>
          </div>
        }
      </div>
    </div>
    @if (auth.loggedIn) {
      <div fxFlex="50px" fxLayoutAlign="center center">
        <app-notification-bell></app-notification-bell>
      </div>
    }
    <div [fxFlex]="auth.loggedIn ? '50px' : '200px'">
      @if (auth.loggedIn) {
        <button class="transparent" [matMenuTriggerFor]="profileMenu">
          @if (profilePictureUrl) {
            <img
              class="profile-picture"
              [src]="profilePictureUrl"
              alt="User's Profile Picture"
            />
          }
          @if (!profilePictureUrl) {
            <img
              class="profile-picture"
              src="/assets/user.svg"
              alt="Default Profile Picture"
            />
          }
        </button>
      }
      <mat-menu #profileMenu="matMenu">
        @if (auth.loggedIn && isUserProfileFeatureEnabled) {
          <a
            class="menu-link"
            mat-menu-item
            [routerLink]="['users', userId]"
            routerLinkActive="active"
            >My Profile</a
          >
        }
        @if (auth.loggedIn) {
          <a
            class="menu-link"
            mat-menu-item
            [routerLink]="['/settings']"
            routerLinkActive="active"
            >Settings</a
          >
        }
        @if (auth.loggedIn) {
          <a
            class="menu-link"
            mat-menu-item
            [routerLink]="['/api-keys']"
            routerLinkActive="active"
            >Personal Api Keys</a
          >
        }
        @if (auth.loggedIn) {
          <button mat-menu-item (click)="auth.logout()">Log Out</button>
        }
      </mat-menu>
      @if (!auth.loggedIn) {
        <button
          id="loginButton"
          mat-raised-button
          color="accent"
          (click)="auth.login('/prints')"
        >
          Log In/Create Account
        </button>
      }
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<ng-template #links> </ng-template>
