<!-- <header>
  <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
  <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>

  <a routerLink="/">Home</a>&nbsp;
  <a routerLink="/prints" *ngIf="auth.loggedIn">Prints</a>&nbsp;
  <a routerLink="/profile" *ngIf="auth.loggedIn">Profile</a>
</header> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div style="flex: 1 1 auto;">
      <a mat-button routerLink="/" *ngIf="!auth.loggedIn">Home</a>

      <a mat-button routerLink="/prints" *ngIf="auth.loggedIn">Prints</a>
      <a mat-button routerLink="/printers" *ngIf="auth.loggedIn">Printers</a>
      <a mat-button routerLink="/analytics" *ngIf="auth.loggedIn">Analytics</a>

      <button mat-button [matMenuTriggerFor]="aboutMenu">
        About
      </button>
      <mat-menu #aboutMenu="matMenu">
        <!-- <button mat-menu-item>Fee</button> -->
        <a class="menu-link" mat-menu-item routerLink="/docs">Documentation</a>
        <a
          class="menu-link"
          *ngIf="auth.loggedIn"
          mat-menu-item
          routerLink="/feedback"
          >Send Feedback</a
        >
      </mat-menu>
    </div>
    <div>
      <button
        class="transparent"
        [matMenuTriggerFor]="profileMenu"
        *ngIf="auth.loggedIn"
      >
        <img
          class="profile-picture"
          *ngIf="profilePictureUrl"
          [src]="profilePictureUrl"
          alt="User's Profile Picture"
        />

        <img
          class="profile-picture"
          *ngIf="!profilePictureUrl"
          src="/assets/user.svg"
          alt="Default Profile Picture"
        />
      </button>
      <mat-menu #profileMenu="matMenu">
        <!-- <a
          class="menu-link"
          mat-menu-item
          routerLink="/profile"
          *ngIf="auth.loggedIn"
          >Profile</a
        > -->
        <button mat-menu-item (click)="auth.logout()" *ngIf="auth.loggedIn">
          Log Out
        </button>
      </mat-menu>

      <button
        mat-raised-button
        color="accent"
        (click)="auth.login('/prints')"
        *ngIf="!auth.loggedIn"
      >
        Log In/Create Account
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
