<div
  class="wrapper"
  (mouseenter)="imageHovered = true"
  (mouseleave)="imageHovered = false"
  (click)="imageHovered = !imageHovered"
  >
  @if (showDeleteOnHover && imageHovered) {
    <button
      mat-raised-button
      aria-hidden="false"
      aria-label="Remove Image"
      title="Remove Image"
      class="overlay pointable"
      color="warn"
      (click)="handleDeleteClick($event)"
      >
      <mat-icon>delete</mat-icon>Remove
    </button>
  }
  @if (imageData) {
    <img
      [src]="imageData"
      class="fade-in"
      alt="Image of 3D Print"
      />
  }
</div>
