<div class="flex justify-center content-stretch items-stretch flex-row">
  <mat-card
    appearance="outlined"
    fxFlex="500px"
    fxFlex.xs="100%"
    class="gt-md:basis-[1200px]"
  >
    <div
      fxLayout="column wrap"
      class="flex justify-start content-center items-center gt-md:flex gt-md:flex-row gap-2.5"
    >
      <mat-card-content
        class="flex justify-start content-stretch items-stretch flex-col gap-2.5 basis-full"
      >
        @if (feed.length > 0) {
          @for (print of feed; track print) {
            <div #PrintSummaryCard style="margin-bottom: 10px">
              <app-print-summary-card
                [print]="print"
                [userId]="print.createdBy.id"
                [userName]="print.createdBy.displayName"
                [userProfilePictureUrl]="print.createdBy.profilePicture"
              >
              </app-print-summary-card>
            </div>
          }
          <button
            style="margin: 0 auto"
            mat-raised-button
            color="accent"
            (click)="loadNextPage()"
            class="basis-full"
          >
            Load More
          </button>
        }
      </mat-card-content>
    </div>
  </mat-card>
</div>
