<div fxLayout="row" fxLayoutAlign="center">
  <mat-card
    appearance="outlined"
    fxFlex="500px"
    fxFlex.xs="100%"
    fxFlex.gt-md="1200px"
  >
    <div
      fxLayout="column wrap"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      fxLayout.gt-md="row"
      fxLayoutAlign="space-around start"
    >
      <mat-card-content
        fxFlex="grow"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="10px"
      >
        @if (feed().length > 0) {
          @for (print of feed(); track print) {
            <div style="margin-bottom: 10px">
              <app-print-summary-card
                [print]="print"
                [userId]="print.createdBy.id"
                [userName]="print.createdBy.displayName"
                [userProfilePictureUrl]="print.createdBy.profilePicture"
              >
              </app-print-summary-card>
            </div>
          }
        }
      </mat-card-content>
    </div>
  </mat-card>
</div>

@if (loadingMore()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

@if (!hasMore() && feed().length > 0) {
  <div class="end-of-feed">You're all caught up!</div>
}
