table {
  width: 100%;
  th,
  td {
    padding-right: 5px;
  }
  [mat-row]:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.header {
  margin-left: 5px;
  margin-top: 5px;
}

.search-fields {
  display: inline;
  margin-left: 10px;
}

.mat-column-colorHex {
  flex: 0 0 70px !important;
  width: 70px !important;
}

.filament-color-cell {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  width: 60px;
  height: 30px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: 10px;

  // -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.75);
  // box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.no-filament {
  font-size: 16px;
  line-height: 28px;
  margin-left: 20px;
}

.mat-column-more {
  flex: 0 0 1% !important;
  width: 1% !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
mat-checkbox {
  margin-right: 25px;
}

.not-favorite-icon {
  opacity: 25%;
}

.not-favorite-icon:hover {
  opacity: 100%;
}

@media screen and (max-width: 550px) {
  th.mat-mdc-header-cell:last-of-type,
  td.mat-mdc-cell:last-of-type,
  td.mat-mdc-footer-cell:last-of-type {
    padding-right: 5px !important;
  }

  .mat-column-more > button {
    width: 15px !important;
    padding: 0 5px !important;
  }
}
