:host {
  display: block;
  width: 100%;
}

.main-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px dashed;
  border-radius: 8px;
  opacity: 0.6;
}
