<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <h1>Analytics</h1>

    <mat-card-content align="center">
      <mat-form-field>
        <mat-label>Select Date Range:</mat-label>
        <mat-select
          [(ngModel)]="dateSelection"
          (ngModelChange)="refreshStatistics()"
        >
          <mat-option [value]="this.timeSelectionOptions.Today"
            >Today</mat-option
          >
          <mat-option [value]="timeSelectionOptions.Yesterday"
            >Yesterday</mat-option
          >
          <mat-option [value]="timeSelectionOptions.Last7Days"
            >Last 7 days</mat-option
          >
          <mat-option [value]="timeSelectionOptions.Last30Days"
            >Last 30 days</mat-option
          >
          <mat-option [value]="timeSelectionOptions.Last365Days"
            >Last 365 days</mat-option
          >
        </mat-select>
      </mat-form-field>

      <div>
        <!-- <app-total-print-count
          [prints]="printStatistics"
        ></app-total-print-count> -->
        <app-prints-by-status [prints]="printStatistics">
        </app-prints-by-status>
      </div>
      <!-- 
      <div>
        {{ printStatistics | json }}
      </div> -->
    </mat-card-content>
  </mat-card>
</section>
