table {
  width: 100%;

  [mat-row]:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.header {
  margin-left: 5px;
  margin-top: 5px;
}

.search-fields {
  display: inline;
  margin-left: 10px;
}

.mat-column-more {
  flex: 0 0 1% !important;
  width: 1% !important;
}
