<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <form
      [formGroup]="filamentForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
      fxLayout="column wrap"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <mat-card-title fxFlex="grow"
        >{{ this.filamentForm.get('id').value !== null ? 'Edit' : 'Add' }} 3D
        Filament</mat-card-title
      >
      <mat-card-content
        fxFlex="grow"
        fxFlexFill
        fxLayout="column wrap"
        fxLayoutAlign="space-evenly center"
      >
        <div fxFlex="grow" fxFlexFill>
          <h2 style="text-align: start">General</h2>
        </div>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Name</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="text"
            formControlName="displayName"
            required
            maxlength="255"
          />
          <mat-error
            *ngIf="filamentForm.controls['displayName'].hasError('required')"
          >
            A Name is <strong>required</strong>
          </mat-error>
          <mat-hint *ngIf="this.filamentForm.get('displayName').dirty">
            {{ 255 - this.filamentForm.get('displayName').value.length }}
            characters remaining.</mat-hint
          >
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Material Type</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="text"
            formControlName="materialType"
            required
            maxlength="255"
            [matAutocomplete]="materialAuto"
          />

          <mat-error
            *ngIf="filamentForm.controls['materialType'].hasError('required')"
          >
            A Material Type is <strong>required</strong>
          </mat-error>

          <mat-hint *ngIf="this.filamentForm.get('materialType').dirty">
            {{ 255 - this.filamentForm.get('materialType').value.length }}
            characters remaining.</mat-hint
          >
          <mat-autocomplete #materialAuto="matAutocomplete">
            <mat-option
              *ngFor="let material of filteredMaterials | async"
              [value]="materialNamePipe.transform(material)"
            >
              {{ material | materialName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Material Density (grams/cm<sup>3</sup>)</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="number"
            formControlName="materialDensityGramPerCubicCm"
            required
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <div fxFlex="grow" fxFlexFill>
          <mat-form-field style="margin-left: 0px">
            <mat-label>Color</mat-label>
            <input
              id="edit-filament-name"
              matInput
              type="color"
              formControlName="colorHex"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Color Name</mat-label>
            <input
              id="edit-filament-name"
              matInput
              type="text"
              formControlName="colorName"
            />
          </mat-form-field>
        </div>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Brand</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="text"
            formControlName="brand"
            maxlength="255"
          />
          <!-- <mat-error
              *ngIf="filamentForm.controls['brand'].hasError('required')"
            >
              A Name is <strong>required</strong>
            </mat-error> -->
          <mat-hint *ngIf="this.filamentForm.get('brand').dirty">
            {{ 255 - this.filamentForm.get('brand').value.length }} characters
            remaining.</mat-hint
          >
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Diameter (mm)</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="number"
            formControlName="diameterMm"
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Notes</mat-label>
          <textarea
            id="edit-filament-description"
            matInput
            type="textarea"
            formControlName="notes"
            maxlength="1000"
            rows="3"
          ></textarea>
          <mat-hint *ngIf="this.filamentForm.get('notes').dirty">
            {{ 1000 - this.filamentForm.get('notes').value.length }} characters
            remaining.</mat-hint
          >
        </mat-form-field>

        <mat-checkbox fxFlex="grow" formControlName="isActive"
          >Is Active</mat-checkbox
        >

        <div fxFlex="grow" fxFlexFill>
          <h2 style="text-align: start">Weights</h2>
        </div>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Initial Total Weight (g)</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="number"
            formControlName="initialTotalWeightG"
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Initial Nominal Weight (g)</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="number"
            formControlName="initialNominalWeightG"
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Spool Weight (g)</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="number"
            formControlName="spoolWeightG"
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <div fxFlex="grow" fxFlexFill>
          <h2 style="text-align: start">Temperatures</h2>
        </div>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Temperature Range Start (C)</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="number"
            formControlName="tempRangeStart"
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Temperature Range End (C)</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="number"
            formControlName="tempRangeEnd"
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Recommended Temperature (C)</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="number"
            formControlName="recommendedTemp"
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <div fxFlex="grow" fxFlexFill>
          <h2 style="text-align: start">Purchase Details</h2>
        </div>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Purchase Date</mat-label>
          <input
            matInput
            id="edit-print-start-date"
            [matDatepicker]="picker"
            placeholder="Date Purchased"
            formControlName="purchaseDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Purchase Location</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="text"
            formControlName="purchaseLocation"
            maxlength="1000"
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Purchase Price</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="text"
            formControlName="purchasePriceValue"
            maxlength="256"
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Purchase Currency</mat-label>
          <input
            id="edit-filament-name"
            matInput
            type="text"
            formControlName="purchasePriceCurrency"
            maxlength="256"
          />
          <!-- <mat-error
                  *ngIf="filamentForm.controls['brand'].hasError('required')"
                >
                  A Name is <strong>required</strong>
                </mat-error> -->
        </mat-form-field>

        <!-- <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Make</mat-label>
          <input
            id="edit-filament-make"
            matInput
            type="text"
            formControlName="make"
            [matAutocomplete]="autoMake"
            required
            maxlength="50"
          />
          <mat-error *ngIf="filamentForm.controls['make'].hasError('required')">
            A Make is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-autocomplete #autoMake="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredMakes | async"
            [value]="option"
            >{{ option }}</mat-option
          >
        </mat-autocomplete>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Model</mat-label>
          <input
            id="edit-filament-model"
            matInput
            type="text"
            formControlName="model"
            [matAutocomplete]="autoModel"
            required
            maxlength="50"
          />
          <mat-error
            *ngIf="filamentForm.controls['model'].hasError('required')"
          >
            A Model is <strong>required</strong>
          </mat-error>
        </mat-form-field> -->

        <!-- <mat-autocomplete #autoModel="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredModels | async"
            [value]="option"
            >{{ option }}</mat-option
          >
        </mat-autocomplete> -->

        <!-- <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Filament Diameter (mm)</mat-label>
          <input
            id="edit-filament-filament-diameter"
            matInput
            type="number"
            min="0"
            formControlName="filamentDiameter"
            required
          />
          <mat-error
            *ngIf="filamentForm.controls['filamentDiameter'].hasError('min')"
          >
            Filament Diameter cannot be negative
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Nozzle Diameter (mm)</mat-label>
          <input
            matInput
            id="edit-filament-nozzle-diameter"
            type="number"
            min="0"
            formControlName="nozzleDiameter"
            required
          />
          <mat-error
            *ngIf="filamentForm.controls['nozzleDiameter'].hasError('min')"
          >
            Nozzle Diameter cannot be negative
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="grow" fxFlexFill>
          <mat-label>Description</mat-label>
          <textarea
            id="edit-filament-description"
            matInput
            type="textarea"
            formControlName="description"
            maxlength="1000"
            rows="3"
          ></textarea>
        </mat-form-field> -->
      </mat-card-content>
      <mat-card-actions
        fxLayout
        fxLayoutAlign="space-between center"
        fxLayoutGap="15px"
      >
        <button
          mat-raised-button
          type="submit"
          [disabled]="saving"
          color="primary"
          [class.spinner]="saving"
          id="edit-filament-submit-btn"
        >
          Submit
        </button>
        <button
          id="edit-filament-cancel-btn"
          mat-raised-button
          type="button"
          class="close"
          (click)="handleClose()"
          color="warn"
        >
          {{ filamentForm.dirty ? 'Cancel' : 'Close' }}
        </button>
      </mat-card-actions>
    </form>
    <ng-adsense></ng-adsense>

    {{ this.filamentForm.value | json }}
  </mat-card>
</div>
