<div fxLayout="row" fxLayoutAlign="center">
  <mat-card
    appearance="outlined"
    fxFlex="600px"
    fxFlex.lt-md="100%"
    style="margin: 32px 16px; text-align: center"
  >
    <mat-card-content>
      <h1>No worries!</h1>
      <p>You can upgrade to Pro anytime you're ready.</p>
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center">
        <button mat-raised-button color="primary" routerLink="/subscription">
          View Plans
        </button>
        <button mat-raised-button routerLink="/prints">Go to My Prints</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
