<main
  class="flex justify-center content-center items-center flex-col flex-wrap"
>
  <mat-toolbar color="primary" class="basis-full">
    <div class="docs-header-headline basis-full">
      <img
        class="logo"
        src="/assets/3d-print-log-logo_8b178eb1339b.svg"
        alt="3D Print Log Logo"
      />
      <h2 cy-subtitle>Log and analyze your 3D Prints</h2>
      <a
        mat-raised-button
        class="get-started"
        routerLink="/docs/getting-started"
        >Get started</a
      >
    </div>
  </mat-toolbar>

  <section class="basis-full">
    <p class="py-2.5">
      3D Print Log is a simple tool for tracking 3D prints. Easily record
      details of your 3D printers, filament usage, print status, print duration
      and more.
    </p>
    <p class="py-2.5">
      <a [routerLink]="['/docs', 'getting-started']"
        >View the quick start guide</a
      >, or jump into it by
      <a
        href
        (click)="auth.login('/prints')"
        aria-label="Login or Create Free Account"
        >creating a <strong>free</strong> account</a
      >
      today and start logging!
    </p>
  </section>

  <section class="container example-grid basis-full">
    <div class="grid grid-cols-1 gt-xs:grid-cols-2">
      <div class="section image order-2 gt-xs:order-none">
        <img
          class="fade-in"
          src="/assets/Homepage_PrinterList_fd6e7f73bf3f.png"
          width="500"
          height="560"
          alt="Print List with example prints and images"
          loading="lazy"
        />
      </div>
      <div class="section homepage-desc order-1 gt-xs:order-none">
        <h2>Track Every 3D Print</h2>
        <p>
          Log details for every print. Upload pictures, track print times and
          filament usage, save notes and more. Search through past prints so you
          never forget a detail again.
        </p>
      </div>

      <div class="section homepage-desc order-3 gt-xs:order-none">
        <h2>Create Your Material Library</h2>
        <p>
          Keep track of every roll of filament and bottle of resin. See what
          colors and materials you have, record filament usage and know exactly
          how much material is remaining on each spool or in the bottle. Never
          start a print again wondering if there is enough material to finish.
        </p>
      </div>
      <div class="section image order-4 gt-xs:order-none">
        <img
          class="fade-in"
          src="/assets/Homepage_Filament_34b0aa09478611.png"
          width="500"
          height="560"
          alt="The Filament Library with multiple rolls of filament recorded."
          loading="lazy"
        />
      </div>

      <div class="section image order-6 gt-xs:order-none">
        <img
          src="/assets/Homepage_Analytics_56744e5428bda.png"
          class="fade-in"
          alt="Screenshot of Analytics page showing print time, filament usage, and a graph of print status"
          loading="lazy"
        />
      </div>
      <div class="section homepage-desc order-5 gt-xs:order-none">
        <h2>View Print Analytics</h2>
        <p>
          See statistics about your prints. Metrics like total print times,
          material usage, and how often your prints succeed are just a click
          away.
        </p>
      </div>

      <div class="section homepage-desc order-7 gt-xs:order-none">
        <h2>Integrate with Cura and Octoprint</h2>
        <p>
          The
          <a routerLink="/docs/cura-plugin">3D Print Log plugin</a>
          for Ultimaker Cura makes it easy to send print information and
          settings directly from your slicer. And you can setup Octoprint to
          automatically send print status updates to 3D Print Log.
        </p>
      </div>
      <div class="section image order-8 gt-xs:order-none">
        <img
          class="fade-in"
          src="/assets/docs-3dprintloguploader-cura-install_2400a87afa5el.png"
          width="500"
          height="560"
          alt="The 3D Print Log Uploader Plugin in the Cura Marketplace"
          loading="lazy"
        />
      </div>
    </div>
  </section>

  <div class="basis-[150px]">
    <a
      color="accent"
      mat-raised-button
      class="get-started"
      routerLink="/docs/getting-started"
      >Get started</a
    >
  </div>

  <footer class="basis-full h-full w-full min-h-full min-w-full">
    <mat-toolbar color="primary" class="flex-1">
      <div
        class="docs-header-headline flex justify-start content-center items-center flex-col flex-1 h-full w-full min-h-full min-w-full"
      >
        <h1 class="mat-h1 flex-1">3D Print Log</h1>
        <h2 class="flex-1">Log and analyze your 3D Prints</h2>
        <a
          mat-raised-button
          class="get-started"
          routerLink="/docs/getting-started"
          >Get started</a
        >
      </div>
    </mat-toolbar>
  </footer>
</main>
