<main fxLayout="column wrap" fxLayoutAlign="center center" fxFlex="100%">
  <mat-toolbar fxFlex color="primary">
    <div
      class="docs-header-headline"
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <img
        class="logo"
        src="/assets/3d-print-log-logo_8b178eb1339b.svg"
        alt="3D Print Log Logo"
      />
      <h2 fxFlex cy-subtitle>Log and analyze your 3D Prints</h2>
      <a
        mat-raised-button
        class="get-started"
        routerLink="/docs/getting-started"
        >Get started</a
      >
    </div>
  </mat-toolbar>

  <section fxFlex>
    <p>
      3D Print Log is a simple tool for tracking 3D prints. Easily record
      details of your 3D printers, print status, print duration, filament usage
      and more.
    </p>
    <p>
      <a [routerLink]="['/docs', 'getting-started']"
        >View the quick start guide</a
      >, or jump into it by
      <a
        href
        (click)="auth.login('/prints')"
        aria-label="Login or Create Free Account"
        >creating a <strong>free</strong> account</a
      >
      today and start logging!
    </p>
  </section>
  <section fxFlex class="example-grid">
    <div gdColumns="1fr 1fr" gdGap="16px" gdRows="auto">
      <div class="section image">
        <img
          class="fade-in"
          src="/assets/Homepage_PrinterList_fd6e7f73bf3f.png"
          width="500"
          height="560"
          alt="Print List with example prints and images"
          loading="lazy"
        />
      </div>
      <div class="section homepage-desc">
        <h2>Track Every 3D Print</h2>
        <p>
          Log details for every print. Upload pictures, track print times and
          filament usage, save notes and more. Search through past prints so you
          never forget a detail again.
        </p>
      </div>
      <div class="section homepage-desc">
        <h2>View Print Analytics</h2>
        <p>
          See statistics about your prints. Metrics like total print times,
          filament usage, and how often your prints succeed are just a click
          away.
        </p>
      </div>
      <div class="section image">
        <img
          src="/assets/Homepage_Analytics_56744e5428bda.png"
          class="fade-in"
          alt="Screenshot of Analytics page showing print time, filament usage, and a graph of print status"
          loading="lazy"
        />
      </div>
      <div class="section image">
        <img
          class="fade-in"
          src="/assets/docs-3dprintloguploader-cura-install_2400a87afa5el.png"
          width="500"
          height="560"
          alt="The 3D Print Log Uploader Plugin in the Cura Marketplace"
          loading="lazy"
        />
      </div>
      <div class="section homepage-desc">
        <h2>Send Directly from Cura</h2>
        <p>
          The
          <a routerLink="/docs/cura-plugin">3D Print Log plugin</a>
          for Ultimaker Cura makes it easy to send print information and
          settings directly from your slicer.
        </p>
      </div>
    </div>
  </section>
  <div fxFlex="150px">
    <a
      color="accent"
      mat-raised-button
      class="get-started"
      routerLink="/docs/getting-started"
      >Get started</a
    >
  </div>

  <footer fxFlex fxFlexFill>
    <mat-toolbar fxFlex color="primary">
      <div
        class="docs-header-headline"
        fxFlex
        fxFlexFill
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <h1 fxFlex class="mat-h1">3D Print Log</h1>
        <h2 fxFlex>Log and analyze your 3D Prints</h2>
        <a
          mat-raised-button
          class="get-started"
          routerLink="/docs/getting-started"
          >Get started</a
        >
      </div>
    </mat-toolbar>
  </footer>
</main>
