.pending-deletion-banner {
  width: 100vw;

  padding-top: 4px;
  padding-bottom: 4px;
  background-color: red;
}

.text-area {
  background-color: #fafafa;
  padding: 5px 10px;
  margin-block: 5px;
  z-index: -100;
}
