@if (deactivationDate !== null) {
  <div class="pending-deletion-banner">
    <div
      style="
        width: 70vw;
        max-width: 70vw;
        margin-left: auto;
        margin-right: auto;
      "
      class="text-area flex justify-start content-center items-center flex-row"
    >
      <div class="basis-full h-full w-full min-h-full min-w-full">
        Your Account was deactivated on {{ deactivationDate | date: 'medium' }}.
        All data will be removed 24 hours after deactivation.
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="reactivateAccount()"
        class="basis-[180px]"
      >
        Reactivate Account
      </button>
    </div>
  </div>
}
