<div fxLayout="row" fxLayoutAlign="center">
  <mat-card appearance="outlined" fxFlex="1000px" fxFlex.lt-md="100%" fxFlex.xs="100%">
    <div
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      style="padding: 16px"
    >
      <div fxFlex="grow" fxFlexFill>
        <h1>General Settings</h1>
        <hr />
      </div>
      <div
        fxFlex="grow"
        fxFlexFill
        [ngClass]="{
          'mat-elevation-z5 editing-card':
            profileViewStatus !== this.userDetailsOnLoad.viewStatus
        }"
      >
        <div>
          <label
            for="profile-visibility"
            style="margin-right: 10px"
            matTooltip="Controls who can view your user profile."
            matTooltipPosition="right"
          >
            User Profile Visibility
            <mat-icon inline>info</mat-icon>:</label
          >
          <select
            id="profile-visibility"
            name="profile-visibility"
            [(ngModel)]="profileViewStatus"
          >
            <option [ngValue]="profileViewStatusTypes.Public">
              Public (anyone can view)
            </option>
            <option [ngValue]="profileViewStatusTypes.Unlisted">
              Unlisted (anyone with link can view)
            </option>
            <option [ngValue]="profileViewStatusTypes.Private">
              Private (only you can view)
            </option>
          </select>
        </div>
        @if (profileViewStatus !== this.userDetailsOnLoad.viewStatus) {
          <div>
            <div
              style="margin-top: 10px"
              fxLayout
              fxLayoutAlign="center center"
              fxLayoutGap="15px"
            >
              <button
                mat-raised-button
                type="submit"
                color="primary"
                (click)="saveProfileVisibility(profileViewStatus)"
              >
                Save Visibility
              </button>
              <button
                mat-raised-button
                type="button"
                class="close"
                (click)="profileViewStatus = this.userDetailsOnLoad.viewStatus"
                color="warn"
              >
                Cancel
              </button>
            </div>
          </div>
        }
      </div>
      <div
        fxFlex="grow"
        fxFlexFill
        [ngClass]="{
          'mat-elevation-z5 editing-card':
            printViewStatus?.toString() !==
            this.defaultPrintViewStatusSettingOnLoad?.value.toString()
        }"
      >
        <div>
          <label
            for="print-visibility"
            style="margin-right: 10px"
            matTooltip="The default View Status for new prints. You can change override this when adding a new print."
            matTooltipPosition="right"
          >
            Default Print Visibility <mat-icon inline>info</mat-icon>:</label
          >
          <select
            id="print-visibility"
            name="print-visibility"
            [(ngModel)]="printViewStatus"
          >
            <option [ngValue]="printViewStatusTypes.Public">
              Public (anyone can view)
            </option>
            <option [ngValue]="printViewStatusTypes.Unlisted">
              Unlisted (anyone with link can view)
            </option>
            <option [ngValue]="printViewStatusTypes.Private">
              Private (only you can view)
            </option>
          </select>
        </div>
        @if (
          printViewStatus?.toString() !==
          this.defaultPrintViewStatusSettingOnLoad?.value?.toString()
        ) {
          <div>
            <div
              style="margin-top: 10px"
              fxLayout
              fxLayoutAlign="center center"
              fxLayoutGap="15px"
            >
              <button
                mat-raised-button
                type="submit"
                color="primary"
                (click)="saveDefaultPrintViewStatus(printViewStatus)"
              >
                Save Visibility
              </button>
              <button
                mat-raised-button
                type="button"
                class="close"
                (click)="cancelDefaultPrintViewStatus()"
                color="warn"
              >
                Cancel
              </button>
            </div>
          </div>
        }
      </div>
      <div
        fxFlex="grow"
        fxFlexFill
        [ngClass]="{
          'mat-elevation-z5 editing-card':
            preferredCurrency?.toString() !==
            this.preferredCurrencyNameSettingOnLoad?.value.toString()
        }"
      >
        <div>
          <label
            for="preferred-currency"
            style="margin-right: 10px"
            matTooltip="The currency symbol used throughout the application"
            matTooltipPosition="right"
          >
            Preferred Currency <mat-icon inline>info</mat-icon>:</label
          >
          <select
            id="preferred-currency"
            name="preferred-currency"
            [(ngModel)]="preferredCurrency"
          >
            @for (
              currency of currencies | keyvalue: sortByName;
              track currency
            ) {
              <option [ngValue]="currency.key">
                {{ currency.value.name }} - {{ currency.value.symbol }}
              </option>
            }
          </select>
        </div>
        @if (
          preferredCurrency?.toString() !==
          this.preferredCurrencyNameSettingOnLoad?.value?.toString()
        ) {
          <div>
            <div
              style="margin-top: 10px"
              fxLayout
              fxLayoutAlign="center center"
              fxLayoutGap="15px"
            >
              <button
                mat-raised-button
                type="submit"
                color="primary"
                (click)="savePreferredCurrency(preferredCurrency)"
              >
                Save Preferred Currency
              </button>
              <button
                mat-raised-button
                type="button"
                class="close"
                (click)="cancelPreferredCurrency()"
                color="warn"
              >
                Cancel
              </button>
            </div>
          </div>
        }
      </div>
      <div
        fxFlex="grow"
        fxFlexFill
        [ngClass]="{
          'mat-elevation-z5 editing-card':
            defaultFilamentDiameterMm?.toString() !==
            this.defaultFilamentDiameterMmSettingOnLoad?.value.toString()
        }"
      >
        <div>
          <label
            for="default-filament-diameter-mm"
            style="margin-right: 10px"
            matTooltip="The default filament diameter when adding a new roll of Filament."
            matTooltipPosition="right"
          >
            Default Filament Diameter (mm)
            <mat-icon inline>info</mat-icon>:</label
          >
          <input
            id="default-filament-diameter-mm"
            type="number"
            [(ngModel)]="defaultFilamentDiameterMm"
            step="0.25"
          />
        </div>
        @if (
          defaultFilamentDiameterMm?.toString() !==
          this.defaultFilamentDiameterMmSettingOnLoad?.value?.toString()
        ) {
          <div>
            <div
              style="margin-top: 10px"
              fxLayout
              fxLayoutAlign="center center"
              fxLayoutGap="15px"
            >
              <button
                mat-raised-button
                type="submit"
                color="primary"
                (click)="
                  saveDefaultFilamentDiameterMm(defaultFilamentDiameterMm)
                "
              >
                Save Default Filament Diameter
              </button>
              <button
                mat-raised-button
                type="button"
                class="close"
                (click)="cancelDefaultFilamentDiameterMm()"
                color="warn"
              >
                Cancel
              </button>
            </div>
          </div>
        }
      </div>
      <div
        fxFlex="grow"
        fxFlexFill
        [ngClass]="{
          'mat-elevation-z5 editing-card':
            defaultFilamentPrice?.toString() !==
            this.defaultFilamentPriceSettingOnLoad?.value.toString()
        }"
      >
        <div>
          <label
            for="default-filament-price"
            style="margin-right: 10px"
            matTooltip="The default filament price when adding a new roll of Filament."
            matTooltipPosition="right"
          >
            Default Filament Price <mat-icon inline>info</mat-icon>:</label
          >
          <span
            >{{ this.currencies[this.preferredCurrency]?.symbol }}&nbsp;</span
          >
          <input
            id="default-filament-price"
            type="text"
            [(ngModel)]="defaultFilamentPrice"
            maxlength="256"
          />
        </div>
        @if (
          defaultFilamentPrice?.toString() !==
          this.defaultFilamentPriceSettingOnLoad?.value?.toString()
        ) {
          <div>
            <div
              style="margin-top: 10px"
              fxLayout
              fxLayoutAlign="center center"
              fxLayoutGap="15px"
            >
              <button
                mat-raised-button
                type="submit"
                color="primary"
                (click)="saveDefaultFilamentPrice(defaultFilamentPrice)"
              >
                Save Default Filament price
              </button>
              <button
                mat-raised-button
                type="button"
                class="close"
                (click)="cancelDefaultFilamentPrice()"
                color="warn"
              >
                Cancel
              </button>
            </div>
          </div>
        }
      </div>
      <hr />
      <div fxFlex="grow" fxFlexFill>
        <h2>Export Data</h2>
        <p>Save your prints as a csv file.</p>
        <button
          mat-raised-button
          color="accent"
          (click)="export()"
          [class.spinner]="exportInProgress"
          [disabled]="exportInProgress"
        >
          Export
        </button>
      </div>
      <hr />
      <div fxFlex="grow" fxFlexFill>
        <h2>Danger Zone</h2>
        <details style="border: 1px solid red; padding: 5px">
          <summary>
            <h3 style="display: inline-block; margin: 0">Delete Account</h3>
          </summary>
          <p>
            While we are sad to see you go, you can deactivate your 3D Print Log
            account, and
            <strong>permanently delete all your data</strong>.
          </p>
          <p>
            If you are deleting your account because of a feature that 3D Print
            Log is missing, please
            <a routerLink="/feedback">send us a feedback</a> and let us know
            what you'd like to see. We are adding features all the time, and
            love to know how we can improve.
          </p>
          <ul>
            <li>
              Deactivated accounts will have all data deleted 24 hours after
              deactivation. This includes any recorded <strong>Prints</strong>,
              <strong>Printers</strong>, <strong>Filaments</strong>,
              <strong>Comments</strong>, <strong>Images</strong> and your
              <strong>Profile</strong>.
            </li>
            <li>
              Deletion is irreversible. Once deletion occurs, there is
              <strong>no way to recover your data</strong> if you change your
              mind.
            </li>
            <li>
              You may create a new account at anytime in the future, but there
              will be no way to recover any deleted data.
            </li>
          </ul>
          <mat-checkbox
            class="text-wrap"
            [(ngModel)]="deactivationAgreementChecked"
            >I have read the information above and understand that my data will
            be deleted in 24 hours. I wish to proceed with the deletion of my 3D
            Print Log profile.</mat-checkbox
          >
          <br />
          <button
            mat-raised-button
            color="warn"
            (click)="deactivateAccount()"
            [disabled]="
              deactivateHasBeenClicked || !deactivationAgreementChecked
            "
          >
            Deactivate Account
          </button>
        </details>
      </div>
    </div>
  </mat-card>
</div>
