<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="1000px" fxFlex.xs="100%">
    <div fxLayout="column wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxFlex="grow" fxFlexFill>
        <h1>General Settings</h1>
        <hr />
      </div>

      <div
        fxFlex="grow"
        fxFlexFill
        [ngClass]="{
          'mat-elevation-z5 editing-card':
            profileViewStatus !== this.userDetailsOnLoad.viewStatus
        }"
      >
        <div>
          <label
            for="profile-visibility"
            style="margin-right: 10px"
            matTooltip="Controls who can view your user profile."
            matTooltipPosition="right"
          >
            User Profile Visibility
            <mat-icon inline>info</mat-icon>:</label
          >
          <select
            id="profile-visibility"
            name="profile-visibility"
            [(ngModel)]="profileViewStatus"
          >
            <option [ngValue]="profileViewStatusTypes.Public">
              Public (anyone can view)
            </option>
            <option [ngValue]="profileViewStatusTypes.Unlisted">
              Unlisted (anyone with link can view)
            </option>
            <option [ngValue]="profileViewStatusTypes.Private">
              Private (only you can view)
            </option>
          </select>
        </div>

        <div *ngIf="profileViewStatus !== this.userDetailsOnLoad.viewStatus">
          <div
            style="margin-top: 10px"
            fxLayout
            fxLayoutAlign="center center"
            fxLayoutGap="15px"
          >
            <button
              mat-raised-button
              type="submit"
              color="primary"
              (click)="saveProfileVisibility(profileViewStatus)"
            >
              Save Visibility
            </button>
            <button
              mat-raised-button
              type="button"
              class="close"
              (click)="profileViewStatus = this.userDetailsOnLoad.viewStatus"
              color="warn"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>

      <div
        fxFlex="grow"
        fxFlexFill
        [ngClass]="{
          'mat-elevation-z5 editing-card':
            printViewStatus?.toString() !==
            this.defaultPrintViewStatusSettingOnLoad?.value.toString()
        }"
      >
        <div>
          <label
            for="print-visibility"
            style="margin-right: 10px"
            matTooltip="The default View Status for new prints. You can change override this when adding a new print."
            matTooltipPosition="right"
          >
            Default Print Visibility <mat-icon inline>info</mat-icon>:</label
          >
          <select
            id="print-visibility"
            name="print-visibility"
            [(ngModel)]="printViewStatus"
          >
            <option [ngValue]="printViewStatusTypes.Public">
              Public (anyone can view)
            </option>
            <option [ngValue]="printViewStatusTypes.Unlisted">
              Unlisted (anyone with link can view)
            </option>
            <option [ngValue]="printViewStatusTypes.Private">
              Private (only you can view)
            </option>
          </select>
        </div>

        <div
          *ngIf="
            printViewStatus?.toString() !==
            this.defaultPrintViewStatusSettingOnLoad?.value?.toString()
          "
        >
          <div
            style="margin-top: 10px"
            fxLayout
            fxLayoutAlign="center center"
            fxLayoutGap="15px"
          >
            <button
              mat-raised-button
              type="submit"
              color="primary"
              (click)="saveDefaultPrintViewStatus(printViewStatus)"
            >
              Save Visibility
            </button>
            <button
              mat-raised-button
              type="button"
              class="close"
              (click)="cancelDefaultPrintViewStatus()"
              color="warn"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>

      <hr />
      <div fxFlex="grow" fxFlexFill>
        <h2>Export Data</h2>
        <p>Save your prints as a csv file.</p>
        <button
          mat-raised-button
          color="accent"
          (click)="export()"
          [class.spinner]="exportInProgress"
          [disabled]="exportInProgress"
        >
          Export
        </button>
      </div>

      <hr />
      <div fxFlex="grow" fxFlexFill>
        <h2>Danger Zone</h2>
        <div style="border: 1px solid red; padding: 5px">
          <h3>Delete Account</h3>
          <p>
            Deactivate your account, and
            <strong>permanently delete all your data</strong>.
          </p>
          <ul>
            <li>
              Deactivated accounts will have all data deleted 24 hours after
              deactivation. This includes any recorded <strong>Prints</strong>,
              <strong>Printers</strong>, <strong>Filaments</strong>,
              <strong>Comments</strong>, <strong>Images</strong> and your
              <strong>Profile</strong>.
            </li>
            <li>
              Deletion is irreversible. Once deletion occurs, there is no way to
              recover your data if you change your mind.
            </li>
            <li></li>
          </ul>
          <mat-checkbox
            class="text-wrap"
            [(ngModel)]="deactivationAgreementChecked"
            >I have read the information above and understand that my data will
            be deleted in 24 hours. I wish to proceed with the deletion of my 3D
            Print Log profile.</mat-checkbox
          >
          <br />
          <button
            mat-raised-button
            color="warn"
            (click)="deactivateAccount()"
            [disabled]="!deactivationAgreementChecked"
          >
            Deactivate Account
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
